<template>
    <div class="card shadow mb-4" v-if="user">
        <div class="card-body">
            <div class="form-group">
                <label>Name</label>
                <p><strong>{{user.name}}</strong></p>
            </div>
            <div class="form-group">
                <label>Email address</label>
                <p><strong>{{user.email}}</strong></p>
            </div>
        <div class="form-group">
                <label>Role</label>
                <span class="badge badge-primary" v-for="role in user.roles">
                               {{role.name}}
                            </span>
            </div>
            <div class="form-group">
                <label>Customer</label>
                <span class="badge rounded-pill badge-success" v-for="userCust in cust">
                               {{userCust.NAME1 }}
                </span>
            </div>
            <ButtonsElement :back=true></ButtonsElement>
        </div>
    </div>
</template>

<script>
    import ButtonsElement from "../elements/Buttons";

    export default {
        name: "Show",
        components: {ButtonsElement},
        created() {
            this.getUser();
            this.getCusts();
        },
        data() {
            return {
                user: null,
                plant: null,
                cust:null,
            };
        },
        methods: {
            getUser() {
                axios.get(`/api/users/${this.$route.params.id}`)
                    .then((response) => {

                        this.user = response.data.data
                        // console.log(response.data.data, this.user.WERKS);
                    });
            },
            getCusts() {
                axios.get(`/api/show/${this.$route.params.id}/merchCust`)
                    .then((response) => {

                        this.cust = response.data.data
                        console.log(this.cust);
                    });
            }
            // getPlant() {
            //     axios.get(`/api/show/${this.$route.params.id}/plantUser`)
            //         .then((response) => {
            //
            //             this.plant = response.data.data
            //             console.log(this.plant);
            //         });
            // }
        }

    }
</script>

<style scoped>

</style>
