<template>
    <div class="sidebar_auth">
        <div class="sidebar-background"></div>
<!--        style="background-image: url('/img/sidebar-1.jpg') "-->
        <ul class="navbar-nav bg-gradient-light sidebar sidebar-dark accordion" style="background-image: url('/img/sidebar-3_2.jpg');background-position: 50%;" id="accordionSidebar" v-if="currentUser">
<!--            <ul class="navbar-nav bg-gradient sidebar sidebar-dark accordion" style="background-image: url('/img/sidebar-3_2.jpg');background-position: 50%;" id="accordionSidebar" v-if="currentUser">-->
            <!-- Sidebar - Brand style="display: none;"-->
            <router-link :to="{ name: 'stock-table' }" class="sidebar-brand d-flex align-items-center justify-content-center">
                <div class="sidebar-brand-icon">
                    <img src="/img/vcy.png" alt="VCY Logo" style="width: 40%;">
<!--                    <div class="sidebar-brand-text"> VCY Marketing</div>-->

                </div>

            </router-link>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading" v-if="$can('user_view')">
                Admin
            </div>
            <template  v-if="$can('permission_view') && $can('user_view')">
                <router-link tag="li" :to="{ name: 'permission-table' }" class="nav-item">
                    <a class="nav-link">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Permissions</span></a>
                </router-link>
            </template>

            <template v-if="$can('role_view') && $can('permission_view')
            && $can('user_view')">
                <router-link tag="li" :to="{ name: 'role-table' }" class="nav-item" >
                    <a class="nav-link">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Roles</span></a>
                </router-link>
            </template>


            <template v-if="$can('user_view')">
                <router-link tag="li" :to="{ name: 'users-table' }" class="nav-item" >
                    <a class="nav-link">
                        <i class="fas fa-users nav-icon"></i>
                        <span>Users</span></a>
                </router-link>
            </template>


            <template v-if="$can('permission_view') && $can('user_view')">
                <router-link tag="li" :to="{ name: 'diser-tablet-table' }" class="nav-item" >
                    <a class="nav-link">
                        <i class="fas fa-tablet-alt"></i>
                        <span>Tablet</span></a>
                </router-link>
            </template>

            <template v-if="$can('user_view') || $can('activity_log_view')">
                <router-link tag="li" :to="{ name: 'pvc-activity-log' }" class="nav-item" >
                    <a class="nav-link">
                        <i class="fas fa-file-archive"></i>
                        <span>Activity Log</span></a>
                </router-link>
            </template>

            <template v-if="$can('user_view') || $can('manual_export_view')">
                <router-link tag="li" :to="{ name: 'post-sales-order' }" class="nav-item" >
                    <a class="nav-link">
                        <i class="fas fa-file-export"></i>
                        <span>Manual Export</span></a>
                </router-link>
            </template>

            <template v-if="$can('user_view') || $can('stock_level_one_view') || $can('stock_level_two_view')
                || $can('merchandiser_view') || $can('admin_stock_request_view')">
                <div class="sidebar-heading">
                    Stock Requests Management
                </div>
                <router-link tag="li" :to="{ name: 'stock-table', query: {stock: 'Creation',id:currentUser.token} }" class="nav-item" v-if="currentUser" exact>
                    <a class="nav-link">
                        <i class="fas fa-cart-plus"></i>
                        <span>Create</span></a>
                </router-link>
                <router-link tag="li" :to="{ name: 'stock-request-table', query: {stockRequest: 'DataTable',id:currentUser.token} }" class="nav-item" v-if="currentUser" exact>
                    <a class="nav-link">
                        <i class="fas fa-cubes"></i>
                        <span>Stock Request</span></a>
                </router-link>
                <router-link tag="li" :to="{ name: 'drafts-table', query: {drafts: 'DataTable',id:currentUser.token} }" class="nav-item" v-if="currentUser" exact>
                    <a class="nav-link">
                        <i class="fas fa-archive"></i>
                        <span>Drafts</span></a>
                </router-link>
            </template>

            <template v-if="$can('for_approvals_view') || $can('stock_level_one_view') || $can('stock_level_two_view')">
                <router-link tag="li" :to="{ name: 'approval-table', query: {allRequest: 'DataTable',id:currentUser.token} }" class="nav-item" v-if="currentUser" exact>
                    <a class="nav-link">
                        <i class="fas fa-clipboard-check"></i>
                        <span>For Approvals</span></a>
                </router-link>
                <router-link tag="li" :to="{ name: 'for-printing-table', query: {printingRequest: 'DataTable',id:currentUser.token} }" class="nav-item" v-if="currentUser" exact>
                    <a class="nav-link">
                        <i class="fas fa-print"></i>
                        <span>For Printing</span></a>
                </router-link>
            </template>
            <template v-if="$can('sales_order_view')  || $can('stock_level_two_view')">
                <div class="sidebar-heading">
                    Consignment Fill-up SO Managemnt
                </div>
                <router-link tag="li" :to="{ name: 'sales-order-table', query: {approvedRequest: 'DataTable',id:currentUser.token} }" class="nav-item" v-if="currentUser" exact>
                    <a class="nav-link">
                        <i class="fas fa-store-alt"></i>
                        <span>Sales Order</span></a>
                </router-link>
            </template>
            <!-- Sidebar Toggler (Sidebar) -->
<!--            <div class="text-center d-none d-md-inline">-->
<!--                <button class="rounded-circle border-0" id="sidebarToggle" @click="toggleSideBar"></button>-->
<!--            </div>-->

        </ul>
    </div>
</template>

<script>
// import $ from 'jquery';

export default {
    name: "Sidebar",
    // mounted() {
    //     this.toggleSideBar();
    // },
    data() {
        return {
            windowWidth: window.innerWidth, resWidth:null, is1280:false,is1422:false,is1680:false,is1920:false,
        }
    },
    methods: {
        toggleSideBar() {
            $("body").toggleClass("sidebar-toggled");
            $("#accordionSidebar").toggleClass("toggled");
        },
    },
    mounted() {
        window.addEventListener('resize', () => {
            this.windowWidth = window.innerWidth
        })
        console.log(this.windowWidth);
        if(this.windowWidth === 962 || this.windowWidth === 960){
            this.toggleSideBar();
        }
    },
    computed: {
        currentUser() {
            return this.$store.getters.currentUser
        }
    },
}
</script>

<style scoped>
.sidebar_auth{
    /*background: #234bbf;*/
    background-image: url('/img/sidebar-3_2.jpg');
    background-position: 50% 100%;
}
</style>
