<template>
    <div>
        <div class="row">
            <!-- Alerts Basic -->
            <div class="col-lg-12">
                <div class="card shadow-sm mb-4">
                    <div class="card-header">
                        <h4 class="m-0 font-weight-bold text-primary">STOCK REQUEST CREATION</h4>
                    </div>
                    <form v-promise-btn="{action: 'submit'}" v-on:submit.prevent="addItem">
                        <div class="card-header">
                            <div class="row form-group">
                                <div class="dateCreate" style="margin-left: 15px;">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field"
                                              id="basic-addon1">Request Date:</span>
                                        </div>
                                        <input type="date" class="form-control" placeholder="Request Date"
                                               v-model="form.req_date" required>
                                    </div>
                                </div>
                                <div class="col-md-2" v-if="windowWidth !== 962 && windowWidth !== 960">

                                </div>
                                <div class="col-md-3" v-if="windowWidth === 962 || windowWidth === 960">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field"
                                              id="basic-addon1">UOM:</span>
                                        </div>
                                        <input class="form-control" type="text" v-model="form.uom" disabled>
                                    </div>
                                </div>
                                <div class="col-md-2" v-if="windowWidth !== 962 && windowWidth !== 960 && windowWidth !== 723">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field"
                                              id="basic-addon1">UOM:</span>
                                        </div>
                                        <input class="form-control" type="text" v-model="form.uom" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4" v-if="windowWidth === 962 || windowWidth === 960">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text input-group-field" id="basic-addon1">Material Code:</span>
                                        </div>
                                        <input class="form-control" type="text" v-model="form.mat_code" disabled>
                                    </div>
                                </div>
                                <div class="col-md-5" v-if="windowWidth !== 962 && windowWidth !== 960">

                                </div>
                            </div>
                            <div class="row form-group" v-if="windowWidth === 723">
                                <div class="col-md-2" style="width: 35%;">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field"
                                              id="basic-addon1">UOM:</span>
                                        </div>
                                        <input class="form-control" type="text" v-model="form.uom" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-8" v-if="windowWidth === 962 || windowWidth === 960">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field"
                                              id="basic-addon1">Company:</span>
                                        </div>
                                        <!--                                    COMPANY-->
                                        <v-select :filter="fuseSearchCompany" :options="company"
                                                  :getOptionLabel="option => option.NAME1"
                                                  :reduce="company => `${company.NAME1}` "
                                                  v-model="form.cust_company"
                                                  style="width: 380px;" :class="{matGroupHeight:true}"
                                                  required>
                                            <template #option="{ NAME1 }">
                                                <strong>{{ NAME1 }}</strong>
                                            </template>
                                            <template #search="{attributes, events}">
                                                <input
                                                    class="vs__search"
                                                    :required="!form.cust_company"
                                                    v-bind="attributes"
                                                    v-on="events"
                                                    name="cust_company"
                                                />
                                            </template>
                                        </v-select>
                                    </div>
                                </div>
                                <div class="col-md-6" v-if="windowWidth !== 962 && windowWidth !== 960">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field"
                                              id="basic-addon1">Company:</span>
                                        </div>
                                        <!--                                    COMPANY-->
                                        <v-select :filter="fuseSearchCompany" :options="company"
                                                  :getOptionLabel="option => option.NAME1"
                                                  :reduce="company => `${company.NAME1}` "
                                                  v-model="form.cust_company"
                                                  style="width: 380px;" :class="{matGroupHeight:true}"
                                                  required>
                                            <template #option="{ NAME1 }">
                                                <strong>{{ NAME1 }}</strong>
                                            </template>
                                            <template #search="{attributes, events}">
                                                <input
                                                    class="vs__search"
                                                    :required="!form.cust_company"
                                                    v-bind="attributes"
                                                    v-on="events"
                                                    name="cust_company"
                                                />
                                            </template>
                                        </v-select>
                                    </div>
                                </div>
                                <!--Material Code-->
                                <div class="col-md-4" :class="[{isTuod1280:is1280},{isTuod1422:is1422},
                                {isTuod1600:is1600},{isTuod1680:is1680},{isTuod1920:is1920}]"
                                     v-if="windowWidth === 1280 || windowWidth === 1422 || windowWidth === 1600">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text input-group-field" id="basic-addon1">Material Code:</span>
                                        </div>
                                        <input class="form-control" type="text" v-model="form.mat_code" disabled>
                                    </div>
                                </div>
                                <div class="col-md-3" :class="[{isTuod1280:is1280},{isTuod1422:is1422},{isTuod1600:is1600},
                                {isTuod1680:is1680},{isTuod1920:is1920}]"
                                     v-if="windowWidth !== 1280 && windowWidth !== 1422 && windowWidth !== 962
                                     && windowWidth !== 960 && windowWidth !== 1600 && windowWidth !== 723 ">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text input-group-field" id="basic-addon1">Material Code:</span>
                                        </div>
                                        <input class="form-control" type="text" v-model="form.mat_code" disabled>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-1">

                                </div>
                            </div>
                            <div class="row form-group" style="width: 65%" v-if="windowWidth === 723">
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text input-group-field" id="basic-addon1">Material Code:</span>
                                        </div>
                                        <input class="form-control" type="text" v-model="form.mat_code" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-7" v-if="windowWidth === 962 || windowWidth === 960">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text input-group-field" id="basic-addon1">Material Group:</span>
                                        </div>
                                        <v-select :filter="fuseSearch" :options="matGroup"
                                                  :getOptionLabel="option => option.WGBEZ"
                                                  :reduce="matGroup => `${matGroup.WGBEZ}` "
                                                  v-model="form.mat_group"
                                                  style="width: 300px;" :class="{matGroupHeight:true}"
                                                  required>
                                            <template #option="{ WGBEZ }">
                                                <strong>{{ WGBEZ }}</strong>

                                            </template>
                                            <template #search="{attributes, events}">
                                                <input
                                                    class="vs__search"
                                                    v-bind="attributes"
                                                    v-on="events"
                                                    name="mat_group"
                                                />
                                            </template>
                                        </v-select>
                                    </div>
                                </div>
                                <div class="col-md-6" v-if="windowWidth !== 962 && windowWidth !== 960">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text input-group-field" id="basic-addon1">Material Group:</span>
                                        </div>
                                        <v-select :filter="fuseSearch" :options="matGroup"
                                                  :getOptionLabel="option => option.WGBEZ"
                                                  :reduce="matGroup => `${matGroup.WGBEZ}` "
                                                  v-model="form.mat_group"
                                                  style="width: 300px;" :class="{matGroupHeight:true}"
                                                  required>
                                            <template #option="{ WGBEZ }">
                                                <strong>{{ WGBEZ }}</strong>

                                            </template>
                                            <template #search="{attributes, events}">
                                                <input
                                                    class="vs__search"
                                                    v-bind="attributes"
                                                    v-on="events"
                                                    name="mat_group"
                                                />
                                            </template>
                                        </v-select>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-7" v-if="windowWidth === 962 || windowWidth === 960">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field"
                                              id="basic-addon1">Barcode:</span>
                                        </div>
                                        <v-select :filter="fuseSearchBarcode" :options="matBarcode"
                                                  :getOptionLabel="option => option.EAN11"
                                                  :reduce="matBarcode => `${matBarcode.EAN11}` "
                                                  v-model="form.barcode"
                                                  style="width: 325px;" :class="{matGroupHeight:true}"
                                                  required>
                                            <template #option="{ EAN11,MAKTX,MATNR }">
                                                <strong>Material Code: {{ MATNR }} </strong>
                                                <br>
                                                <strong>Barcode: {{ EAN11 }}</strong>
                                                <br>
                                                <cite>Material: {{ MAKTX }}</cite>
                                            </template>
                                            <template #search="{attributes, events}">
                                                <input
                                                    class="vs__search"
                                                    :required="!form.barcode"
                                                    v-bind="attributes"

                                                    v-on="events"
                                                    name="barcode"
                                                />
                                            </template>
                                        </v-select>
                                    </div>
                                </div>
                                <div class="col-md-6" v-if="windowWidth !== 962 && windowWidth !== 960">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field"
                                              id="basic-addon1">Barcode:</span>
                                        </div>
                                        <v-select :filter="fuseSearchBarcode" :options="matBarcode"
                                                  :getOptionLabel="option => option.EAN11"
                                                  :reduce="matBarcode => `${matBarcode.EAN11}` "
                                                  v-model="form.barcode"
                                                  style="width: 325px;" :class="{matGroupHeight:true}"
                                                  required>
                                            <template #option="{ EAN11,MAKTX,MATNR }">
                                                <strong>Material Code: {{ MATNR }} </strong>
                                                <br>
                                                <strong>Barcode: {{ EAN11 }}</strong>
                                                <br>
                                                <cite>Material: {{ MAKTX }}</cite>
                                            </template>
                                            <template #search="{attributes, events}">
                                                <input
                                                    class="vs__search"
                                                    :required="!form.barcode"
                                                    v-bind="attributes"

                                                    v-on="events"
                                                    name="barcode"
                                                />
                                            </template>
                                        </v-select>
                                    </div>
                                </div>
                                <div class="col-md-3"
                                     :class="[{isRangeTuod1280:is1280},{isRangeTuod1422:is1422},
                                     {isRangeTuod1600:is1600},{isRangeTuod1680:is1680},{isRangeTuod1920:is1920},{isRangeTuod962:is962},
                                     {isRangeTuod960:is960}]" v-if="windowWidth !== 723">
                                    <button class="btn btn-warning" type="button"
                                            @click="rangeBarcode">Range &nbsp<i class="fas fa-exchange-alt"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="row form-group" v-if="windowWidth === 723">
                                <div class="col-md-3">
                                    <button class="btn btn-warning" type="button"
                                            @click="rangeBarcode">Range &nbsp<i class="fas fa-exchange-alt"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3" >
                                    <button class="btn btn-success" type="submit"
                                    >Add Item &nbsp<i class="fas fa-plus-square fa-lg"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form v-promise-btn="{action: 'submit'}" v-on:submit.prevent="stockReqCreate">
                    <div class="input-group row-md-12 mb-3">
                        <br>
                        <button class="btn btn-info" type="button" style="margin: 0px 20px; top: 11px; position: absolute;"
                                 @click.prevent="stockReqAsDraft">SAVE AS DRAFT &nbsp<i class="far fa-file"></i>
                        </button>
                        <button class="btn btn-success" type="submit" style="margin: 0px 185px; top: 11px; position: absolute;"
                        >CREATE &nbsp<i class="fas fa-cart-plus" style="font-size: 1.25rem;"></i>
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush table-hover" id="dataTable" width="100%"
                                   cellspacing="0">
                                <thead>
                                <tr class="bg-primary">
                                    <th class="wrapAll" style="color: white;">BARCODE</th>
                                    <th class="wrapAll" style="color: white;">MATERIAL CODE</th>
                                    <th class="wrapAll" style="color: white;">MATERIAL DESCRIPTION</th>
                                    <th class="wrapAll" style="color: white;">UOM</th>
                                    <th class="wrapAll" style="color: white;">LAST FILL-UP DATE</th>
                                    <th class="wrapAll" style="color: white;">LAST FILL-UP QTY</th>
                                    <th class="wrapAll" style="color: white;">STOCKS LEFT</th>
                                    <th class="wrapAll" style="color: white;">SUGGESTED ORDER QTY</th>
                                    <th class="wrapAll" style="color: white;">APPROVED QTY</th>
                                    <th class="wrapAll" style="color: white;">ACTIONS</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(stock, index) in stocks">

                                    <td class="wrapAll" style="text-align: center">{{ stock.barcode }}</td>
                                    <td class="wrapAll" style="text-align: center">{{ stock.mat_code }}</td>
                                    <td class="wrapAll" style="text-align: center">{{ stock.mat_des }}</td>
                                    <td class="wrapAll" style="text-align: center"> {{ stock.uom }}</td>
                                    <td class="wrapAll" style="text-align: center">{{ stock.last_fill_date | moment("MM/DD/YYYY") }}</td>
                                    <td class="wrapAll" style="text-align: center" v-if="stock.last_fill_qty === null">{{
                                            stock.last_fill_qty
                                        }}
                                    </td>
                                    <td class="wrapAll" style="text-align: center" v-if="stock.last_fill_qty !== null">{{
                                            formatNumber(stock.last_fill_qty)
                                        }}
                                    </td>
                                    <td class="wrapAll">
                                        <input type="number"
                                               class="form-control" style="text-align: center"
                                               v-model="stock.stocks_left"
                                               placeholder="">
                                    </td>
                                    <td class="wrapAll">
                                        <input type="number"
                                               class="form-control" style="text-align: center"
                                               v-model="stock.suggest_qty"
                                               placeholder="" required>
                                    </td>
                                    <td class="wrapAll">
                                        <input type="number" class="form-control"
                                               v-model="stock.approve_qty" style="text-align: center" :disabled="disApproveQty"
                                               placeholder="">
                                    </td>
                                    <td>
                                        <a v-on:click="removeElement(index);"
                                           style="cursor: pointer; color:#E10000;"><b>Remove</b></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            <!-- Alerts with Dismissing -->
        </div>
        <!-- <td>{{ market.type | upText}}</td> -->
        <rangeBarcode  v-if="rangeBarcodeModal" :form="form" :rangeBarcodeModal="rangeBarcodeModal" :rangeNumber="rangeNumber"></rangeBarcode>

    </div>


</template>


<script>
//TODO IMPORTS
import '@trevoreyre/autocomplete-vue/dist/style.css'
import moment from 'moment';
import Fuse from 'fuse.js';
import {jsPDF} from "jspdf";
import 'jspdf-autotable';
import rangeBarcode from "../rangeModals/RangeBarcode";

export default {
    name: "stockCreate",
    components:{
        rangeBarcode,
    },
    data() {
        return {
            rangeBarcodeModal:false,rangeNumber:null,
            form: {
                req_date: '',
                cust_company: null,
                mat_group: null,
                mat_code: null,
                barcode: null,
                mat_des: null,
                uom: null,
                KWMENG: null,
                ERDAT: null,
            },
            perPage: ['10', '50', '100'],
            currentPage: '10',
            sortClassActive: {
                'activeDesc': false,
                'activeAsc': true
            },
            meta: {},
            page: {}, errors: {},
            currentSort: 'created_at',
            currentSortDir: 'desc',
            multiForm: {
                sBarcode: '',
                sMat_code: '',
                sMat_des: '',
                sUom: '',
                sLastFillDate: '',
                sLastFillQty: '',
                sStocksLeft: '',
                sSuggestQty: '',
                sApproveQty: '',
            },
            stocks: [],
            matGroup: [],
            matCode: [],
            matBarcode: [], multiBarcode: [], sales_unit: [],

            dateTime: '',

            company: [],

            trans_stocks: [],
            arrRange:[],

            disApproveQty:true,
            trans_header:[],
            windowWidth: window.innerWidth, resWidth:null, is960:false,is962:false,is1280:false,is1422:false,is1600:false,is1680:false,is1920:false,
            diserInfo:[],
        }
    },
    watch: {
        'form.mat_group': function (newVal, oldVal) {
            // console.log(newVal,'test123');
            if (newVal !== null) {
                this.getBarCode(newVal);
            }
            if (newVal === null) {
                this.form.mat_code = null;
                this.form.barcode = null;
                this.matCode = [];
                this.sales_unit = [];
                this.getAllBarCode();
            }
        },
        'form.barcode': function (newVal, oldVal) {
            this.getMatCode(newVal);
            if(newVal !== oldVal){
                this.form.mat_code = null;
                this.form.uom = null;
                this.sales_unit = [];
            }
            // console.log(newVal,'barcode');
            this.arrRange.push({
                'barcode': newVal,
            });
            let barcode = [];
            this.arrRange.forEach(obj => {
                barcode.push(obj.barcode = newVal);
            });
            // console.log(barcode);
            // console.log(req_date,'test');
            this.arrRange.push({
                'barcode': barcode,
            });
        },
        'rangeNumber': function (newVal, oldVal) {
            let range = [];
            this.arrRange.forEach(obj => {
                range.push(obj.range = newVal);
            });
            // console.log(req_date,'test');
            this.arrRange.push({
                'range': range,
            });
        },
        'form.cust_company': function (newVal, oldVal) {
            this.trans_header[0].cust_company = newVal;
            this.getMatCode();
        },
        'form.req_date': function (newVal, oldVal) {

            if(newVal !== oldVal && oldVal !== ''){
                this.trans_header[0].stockDate = newVal;
            }

        },
        'stocks': function (newVal, oldVal) {
            // console.log(newVal);
        },
        windowWidth(newWidth, oldWidth) {
            this.resWidth = `it changed to ${newWidth} from ${oldWidth}`;
            this.checkWidthToAdjust(newWidth);
        },
        deep: true
    },
    mounted() {
        window.addEventListener('resize', () => {
            this.windowWidth = window.innerWidth
        })
    },
    computed: {
        currentUser() {
            return this.$store.getters.currentUser
        },
        currentPermission() {
            return this.$store.getters
        },
    },
    created() {
        document.querySelector('body')
            .style =
            '    background-image: none !important;\n'
        ;
        Reload.$on('AfterCreated', () => {
        });
        this.getMatGroup();
        this.getBarCode();
        this.getCustCompany();
        this.formatDate();
        this.checkedIfApprovers();
        this.getAllBarCode();
        this.checkWidthToAdjust();
        this.diserDeviceInfo();

    },
    methods: {
        diserDeviceInfo(){
            this.diserInfo.push({
                'name' :  this.currentUser.name,
                'device_width': this.windowWidth,
            });
            axios.post('/api/diser-device-info', this.diserInfo)
                .then((response) => {

                })
                .catch()
        },
        checkWidthToAdjust(newWidth){
            console.log(newWidth,this.windowWidth);
            if(newWidth === 1280 || this.windowWidth === 1280){
                this.is1280 = true;
                this.is1680 = false;
                this.is1920 = false;
                this.is1422 = false;
                this.is962 = false;
                this.is1600 = false;
                this.is960 = false;
            }
            else if(newWidth === 1422 || this.windowWidth === 1422){
                this.is1422 = true;
                this.is1280 = false;
                this.is1680 = false;
                this.is1920 = false;
                this.is962 = false;
                this.is1600 = false;
                this.is960 = false;
            }
            else if(newWidth === 1680 || this.windowWidth === 1680){
                this.is1680 = true;
                this.is1920 = false;
                this.is1280 = false;
                this.is1422 = false;
                this.is962 = false;
                this.is1600 = false;
                this.is960 = false;
            }
            else if(newWidth === 1920 || this.windowWidth === 1920){
                this.is1920 = true;
                this.is1680 = false;
                this.is1280 = false;
                this.is1422 = false;
                this.is962 = false;
                this.is1600 = false;
                this.is960 = false;
            }
            else if(newWidth === 962 || this.windowWidth === 962){
                this.is962 = true;
                this.is1680 = false;
                this.is1280 = false;
                this.is1422 = false;
                this.is1920 = false;
                this.is1600 = false;
                this.is960 = false;
            }
            else if(newWidth === 960 || this.windowWidth === 960){
                this.is960 = true;
                this.is962 = false;
                this.is1680 = false;
                this.is1280 = false;
                this.is1422 = false;
                this.is1920 = false;
                this.is1600 = false;
            }
            else if(newWidth === 1600 || this.windowWidth === 1600){
                this.is1600 = true;
                this.is962 = false;
                this.is1680 = false;
                this.is1280 = false;
                this.is1422 = false;
                this.is1920 = false;
                this.is960 = false;
            }
        },
        checkedIfApprovers(){
            axios.get('/api/check-user-create')
                .then(response => {
                    if(response.data.check === 1){
                        this.disApproveQty = false;
                    }
                    else if (response.data.check === 0){
                        this.disApproveQty = true;
                    }
                });
        },
        formatDate: function () {
            // var formatDate = new Date(this.form.req_date);
            // return formatDate;
            const moment = require('moment'); // require
            moment().format();
            const today = moment();
            this.dateTime = today.format('YYYY-MM-DD');
            this.form.req_date = this.dateTime;
            return this.dateTime;
        },
        addItem: function () {
            // console.log(this.stocks);
            var dup = '';
            var good = '';
            if(this.stocks.length !== 0){
                this.stocks.map(value => {
                    // console.log(value);
                    if(value.barcode === this.form.barcode){
                        this.form.barcode = null;
                        this.form.mat_code = null;
                        this.form.uom = null;
                        dup = 0;
                    }
                    else if (value.barcode !== this.form.barcode){
                        good = 1; //good
                    }
                });
                if(good === 1 && dup !== 0){
                    var elem = document.createElement('tr');
                    this.stocks.push({
                        'req_date': this.form.req_date,
                        'cust_company': this.form.cust_company,
                        'mat_group': this.form.mat_group,
                        'mat_code': this.form.mat_code,
                        'mat_des': this.form.mat_des,
                        'uom': this.form.uom,
                        'barcode': this.form.barcode,
                        'last_fill_date': this.form.ERDAT,
                        'last_fill_qty': this.form.KWMENG,
                        'stocks_left': this.multiForm.sStocksLeft,
                        'suggest_qty': this.multiForm.sSuggestQty,
                        'approve_qty': this.multiForm.sApproveQty,
                        'stockDate':this.dateTime,
                    });

                    this.form.barcode = null;
                    this.form.mat_code = null;
                    this.form.uom = null;
                }
                else if (dup === 0){
                    this.alertSwal('Duplicate Data Found','Please remove first to continue','warning','');
                }
            }
            else{
                var elem = document.createElement('tr');
                this.stocks.push({
                    'req_date': this.form.req_date,
                    'cust_company': this.form.cust_company,
                    'mat_group': this.form.mat_group,
                    'mat_code': this.form.mat_code,
                    'mat_des': this.form.mat_des,
                    'uom': this.form.uom,
                    'barcode': this.form.barcode,
                    'last_fill_date': this.form.ERDAT,
                    'last_fill_qty': this.form.KWMENG,
                    'stocks_left': this.multiForm.sStocksLeft,
                    'suggest_qty': this.multiForm.sSuggestQty,
                    'approve_qty': this.multiForm.sApproveQty,
                    'stockDate':this.dateTime,
                });

                this.form.barcode = null;
                this.form.mat_code = null;
                this.form.uom = null;
            }
        },
        async stockReqCreate() {

            if (this.stocks.length !== 0) {
                // console.log(this.stocks);
                this.stocks[0].cust_company = this.form.cust_company;
                this.stocks[0].stockDate = this.form.req_date;
                this.trans_stocks.push({
                    'stocks': this.stocks,
                })
                await axios.post('/api/stocks', this.trans_stocks)
                    .then((response) => {
                        this.trans_stocks = [];
                        this.stocks = [];
                        Reload.$emit('AfterCreated');
                        Notification.success();
                    })
                    .catch((error) => {
                        this.alertSwal(error, '', 'warning', '');
                    });
            }
            else {
                this.alertSwal('Cannot save empty transactions', '', 'warning', '');
            }
        },
        async stockReqAsDraft() {
            if (this.stocks.length !== 0) {
                // console.log(this.stocks);
                this.trans_stocks.push({
                    'stocks': this.stocks,
                    'header': this.trans_header,
                });
                await axios.post('/api/drafts', this.trans_stocks)
                    .then((response) => {
                        this.trans_stocks = [];
                        this.stocks = []
                        Reload.$emit('AfterCreated');
                        Notification.success();
                        this.$router.push({
                            name: 'drafts-table',
                            query: {drafts: 'DataTable', id: this.currentUser.token}
                        });
                    })
                    .catch((error) => {
                        this.alertSwal(error, '', 'warning', '');
                    });
            } else {
                this.alertSwal('Cannot save as draft empty transactions', '', 'warning', '');
            }
        },
        rangeMatCode() {
            alert('Under Construction');
        },
        rangeBarcode() {
            if(this.form.barcode === null || this.form.cust_company === null){
                if(this.form.barcode === null){
                    this.alertSwal('No Barcode Found!','Please select a barcode to continue','error');
                }
                else if(this.form.cust_company === null){
                    this.alertSwal('No Company Found!','Please select a company to continue','error');
                }
            }
            else{
                this.rangeBarcodeModal = !this.rangeBarcodeModal;
            }
        },
        dataRangeBarcode(num,close){
            // console.log(num,close);
            this.rangeNumber = num;
            this.rangeBarcodeModal = close;
            this.getRangeBarcode();
        },
        getRangeBarcode(){
            this.arrRange.push({
                'range':this.rangeNumber,
                'barcode':this.form.barcode,
            });
            axios.post('/api/range-barcode', this.arrRange)
                .then(response => {
                    // console.log(response.data,'testrange');
                    if(this.stocks.length !== 0){
                        var dup = '';
                        var good = '';
                        this.stocks.map(value => {
                            response.data.map(result =>{
                                if(value.barcode === result.barcode){

                                    this.form.barcode = null;
                                    this.form.mat_code = null;
                                    this.form.uom = null;
                                    dup = 0;
                                    // console.log('sulodkadi123');
                                }
                                else if (value.barcode !== result.barcode){
                                     //good
                                    good = 1;


                                }
                            });
                        });
                        if(good === 1 && dup !== 0){
                            this.stocks = response.data;
                            this.alertSwal('Range Data Success','','success','');
                        }
                        else if (dup === 0) {
                            this.alertSwal('Duplicate Data Found','Please remove first to continue','warning','');
                        }
                    }
                    else{
                        this.stocks = response.data;

                    }

                });
        },
        removeElement: function (index) {
            this.stocks.splice(index, 1);
        },
        closeModal(e){
            this.rangeBarcodeModal = e;
        },
        getCustCompany() {
            axios.get('/api/get-customer/stock-creation')
                .then(response => {
                    this.company = response.data;
                    this.trans_header.push({
                        'stockDate' : this.form.req_date,
                        'cust_company' : 0,
                     });
                });
        },
        multiGetBarCode(newVal) {
            if (newVal !== null) {
                let formData = new FormData();
                formData.append('MatGroup', newVal);
                axios.post('/api/get-mat-barcode', formData)
                    .then(response => {
                        this.multiBarcode = response.data;
                    });
            } else {
                this.multiBarcode = [];
            }
        },
        getBarCode(newVal) {
            if (newVal !== null) {
                let formData = new FormData();
                formData.append('MatGroup', newVal);
                axios.post('/api/get-mat-barcode', formData)
                    .then(response => {
                        this.matBarcode = response.data;
                    });
            } else {
                this.matBarcode = [];
            }
        },
        getAllBarCode() { // get all barcode if mat group is null
                axios.get('/api/get-all-barcode')
                    .then(response => {
                        this.matBarcode = response.data;
                    });
        },
        getMatCode(newVal) {
            if(this.form.barcode !== null && this.form.cust_company !== null){
                axios.get('/api/get-mat-code?barcode=' + this.form.barcode + '&custCompany=' + this.form.cust_company)
                    .then(response => {
                        this.form.mat_code = response.data.MATNR;
                        this.form.mat_des = response.data.MAKTX;
                        this.form.uom = response.data.MEINH; // sales_unit
                        this.form.ERDAT = response.data.ERDAT; // last fill up date
                        this.form.KWMENG = response.data.KWMENG; // last fill up date
                    });
            }
            else{

            }
            // if (newVal !== null && this.form.cust_company !== null && this.form.barcode !== null) {
            //     let formData = new FormData();
            //     formData.append('barcode', newVal);
            //
            // } else {
            //     this.form.mat_code = null;
            // }
        },
        fuseSearch(options, search) {
            const fuse = new Fuse(options, {
                keys: ["WGBEZ"],
                shouldSort: true
            });
            return search.length
                ? fuse.search(search).map(({item}) => item)
                : fuse.list;
        },
        fuseSearchMatCode(options, search) {
            const fuse = new Fuse(options, {
                keys: ["MATNR", "MAKTX"],
                shouldSort: true
            });
            return search.length
                ? fuse.search(search).map(({item}) => item)
                : fuse.list;
        },
        fuseSearchCompany(options, search) {
            const fuse = new Fuse(options, {
                keys: ["NAME1"],
                shouldSort: true
            });
            return search.length
                ? fuse.search(search).map(({item}) => item)
                : fuse.list;
        },
        fuseSearchBarcode(options, search) {
            const fuse = new Fuse(options, {
                keys: ["EAN11", "MAKTX", "MATNR"],
                shouldSort: true
            });
            return search.length
                ? fuse.search(search).map(({item}) => item)
                : fuse.list;
        },
        fuseSearchUOM(options, search) {
            const fuse = new Fuse(options, {
                keys: ["MEINH"],
                shouldSort: true
            });
            return search.length
                ? fuse.search(search).map(({item}) => item)
                : fuse.list;
        },
        getMatGroup() {
            axios.get('/api/get-mat-group')
                .then(response => {
                    this.matGroup = response.data;
                });
        },
        alertSwal(title, text, icon, timer) {
            this.$swal({
                title: title,
                text: text,
                icon: icon,
                timer: timer,
            })
        },
        formatNumber(number) {
            return (number === '') ? '' : parseFloat(Math.abs(number)).toFixed(0).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
        },
    },


}
</script>


<style scoped>
@media screen and (max-width: 1680px) and (min-width: 1280px){
    .dateCreate .col-md-4{
    }
}
@media screen and (min-width: 1380px){
    .adjustmentText{
        margin-left: -41px;
    }
}
@media screen and (max-width: 1680px){
    .adjustmentText{
        margin-left: -143px;
    }
}
@media screen and (max-width: 1280px){
    .adjustmentText{
        margin-left: -8px;
    }
}
@media screen and (max-width: 1920px){
    .adjustmentText{
        margin-left: -223px;
    }
}
.isTuod1280{
    margin-left: -8px;
}
.isTuod1422{
    margin-left: -56px;
}
.isTuod1600{
    margin-left: -115px;
}
.isTuod1680{
    margin-left: -143px;
}
.isTuod1920{
    margin-left: -223px;
}

.isRangeTuod960{
    margin-left: -50px;
}
.isRangeTuod962{
    margin-left: -50px;
}
.isRangeTuod1280{
    margin-left: -75px;
}
.isRangeTuod1422{
    margin-left: -145px;
}
.isRangeTuod1600{
    margin-left: -240px;
}
.isRangeTuod1680{
    margin-left: -275px;
}
.isRangeTuod1920{
    margin-left: -395px;
}
/*@media (min-width: 992px) {*/
/*    .modal-dialog {*/
/*        max-width: 30% !important;*/
/*    }*/

/*}*/

/*@media (min-width: 992px) {*/
/*    .modal_custom {*/
/*        max-width: 50% !important;*/
/*    }*/
/*}*/

.input-group-text {
    background-color: #007bff;
    color: white;
}

.sampleClass {
    background-color: rgba(0, 0, 0, 0.5) !important;
    /*opacity: 0.5 !important;*/
}

.example-open .modal-backdrop.show:nth-of-type(even) {
    opacity: 5 !important;
    z-index: 1052 !important;
}

.filter-asc {
    border-bottom: 5px solid #ccc;
    margin-bottom: 1px
}

.filter-asc, .filter-desc {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent
}

.filter-desc {
    border-top: 5px solid #ccc;
    margin-top: 1px
}

.inline-block {
    display: inline-block
}

[data-position='below'] .autocomplete-result-list {
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    color: forestgreen;
    font-weight: bold;
}

.wiki-result {
    border-top: 1px solid #eee;
    padding: 16px;
    background: transparent;
}

.wiki-title {
    font-size: 15px;
    margin-bottom: 8px;
    font-weight: 550;
    color: forestgreen;
}

.wiki-snippet {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
}

.wrapAll {
    white-space: nowrap;
    overflow: hidden;
}
</style>
<style>
.matGroupHeight .vs__dropdown-toggle {
    height: 38px;
}
</style>
