<template>
    <div>
        <div class="row">
            <!-- Alerts Basic -->
            <div class="col-lg-12">
                <div class="card shadow-sm mb-4">
                    <div class="card-header">
                        <h4 class="m-0 font-weight-bold text-primary">FOR PRINTING VIEW DETAILS</h4>
                    </div>
                        <div class="card-header">
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field"
                                              id="basic-addon1">Request Date:</span>
                                        </div>
                                        <input type="date" class="form-control" placeholder="Request Date"
                                               v-model="form.req_date" required disabled>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-6">

                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field"
                                              id="basic-addon1">Company:</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Request Date"
                                               v-model="form.cust_company" required disabled>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <!--                                    <button class="btn btn-warning"-->
                                    <!--                                            @click="rangeMatCode">Range &nbsp<i class="fas fa-exchange-alt"></i>-->
                                    <!--                                    </button>-->
                                </div>
                                <div class="col-md-1">

                                </div>
                            </div>
                        </div>
                    <div class="input-group row-md-12 mb-3">
                        <br>
                        <button class="btn btn-danger" type="button" style="margin: 0px 20px; top: 11px; position: absolute;"
                                @click.prevent="printReleaseForm">Print Preview - Release Form &nbsp
                            <i class="fas fa-file-pdf" style="font-size: 1.25rem;"></i>
                        </button>
                        <button class="btn btn-secondary" type="submit" @click.prevent="printDeliveryForm"
                                style="margin: 0px 285px; top: 11px; position: absolute;">
                            Print Preview - Delivery receipt &nbsp
                            <i class="fas fa-file-pdf" style="font-size: 1.25rem;"></i>
                        </button>
                        <!--                        <div class="col-md-2">-->

                        <!--                        </div>-->
                        <!--                        <div class="col-md-2">-->

                        <!--                        </div>-->


                    </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush table-hover" id="dataTable"
                                       width="100%"
                                       cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th class="wrapAll" style="background-color: #007bff; color:white;">BARCODE</th>
                                        <th class="wrapAll" style="background-color: #007bff; color:white;">MATERIAL CODE
                                        </th>
                                        <th class="wrapAll" style="background-color: #007bff; color:white;">MATERIAL
                                            DESCRIPTION
                                        </th>
                                        <th class="wrapAll" style="background-color: #007bff; color:white;">UOM</th>
                                        <th class="wrapAll" style="background-color: #007bff; color:white;">SAP UNRESTRICTED
                                            QTY
                                        </th>
                                        <th class="wrapAll" style="background-color: #007bff; color:white;">LAST FILL-UP
                                            DATE
                                        </th>
                                        <th class="wrapAll" style="background-color: #007bff; color:white;">LAST FILL-UP
                                            QTY
                                        </th>
                                        <th class="wrapAll" style="background-color: #007bff; color:white;">STOCKS LEFT</th>
                                        <th class="wrapAll" style="background-color: #007bff; color:white;">SUGGESTED ORDER
                                            QTY
                                        </th>
                                        <th class="wrapAll" style="background-color: #007bff; color:white;text-align: center">APPROVED QTY
                                        </th>
                                        <th class="wrapAll" style="background-color: #007bff; color:white;text-align: center">BOX NUMBER</th>
                                        <!--                                    <th class="wrapAll" style="background-color: #007bff; color:white;text-align: center">REMARKS</th>-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(stock, index) in stocks">

                                        <td class="wrapAll" style="text-align: center">{{ stock.barcode }}</td>
                                        <td class="wrapAll" style="text-align: center">{{ stock.mat_code }}</td>
                                        <td class="wrapAll" style="text-align: center">{{ stock.mat_des }}</td>
                                        <td class="wrapAll" style="text-align: center"> {{ stock.sales_unit }}</td>
                                        <td class="wrapAll" style="text-align: center">{{ formatNumber(stock.LABST) }}</td>
                                        <td class="wrapAll" style="text-align: center">{{
                                                stock.ERDAT | moment("MM/DD/YYYY")
                                            }}
                                        </td>
                                        <td class="wrapAll" style="text-align: center" v-if="stock.KWMENG === null">{{
                                                stock.KWMENG
                                            }}
                                        </td>
                                        <td class="wrapAll" style="text-align: center" v-if="stock.KWMENG !== null">{{
                                                formatNumber(stock.KWMENG)
                                            }}
                                        </td>
                                        <td class="wrapAll">
                                            <input type="number"
                                                   class="form-control" style="text-align: center" disabled
                                                   v-model="stock.stocks_left"
                                                   placeholder="">
                                        </td>
                                        <td class="wrapAll">
                                            <input type="number"
                                                   class="form-control" style="text-align: center" disabled
                                                   v-model="stock.order_qty"
                                                   placeholder="" required disabled>
                                        </td>
                                        <td class="wrapAll">
                                            <input type="number" class="form-control"
                                                   v-model="stock.approve_qty" style="text-align: center;width: 150px;"
                                                   placeholder="" :disabled="disApproveQty" required disabled>
                                        </td>
                                        <td class="wrapAll">
                                            <input type="number" class="form-control"
                                                   v-model="stock.box_no" style="text-align: center; width: 200px;"
                                                   placeholder="" :disabled="disApproveQty" disabled>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>


                            </div>
                            <router-link
                                :to="{name: 'for-printing-table', query: {printingRequest: 'DataTable',id:currentUser.token}}"
                                class="btn btn-danger">BACK
                            </router-link>
                        </div>
                </div>
            </div>
            <!-- Alerts with Dismissing -->
        </div>
        <!-- <td>{{ market.type | upText}}</td> -->
        <rangeBarcode  v-if="rangeBarcodeModal" :form="form" :rangeBarcodeModal="rangeBarcodeModal" :rangeNumber="rangeNumber"></rangeBarcode>
    </div>


</template>


<script>
//TODO IMPORTS
import '@trevoreyre/autocomplete-vue/dist/style.css'
import moment from 'moment';
import Fuse from 'fuse.js';
import {jsPDF} from "jspdf";
import 'jspdf-autotable';
import rangeBarcode from "../rangeModals/RangeBarcode";

export default {
    name: "viewApproval",
    components:{
        rangeBarcode,
    },
    data() {
        return {
            form: {
                req_date: '',
                cust_company: null,
                mat_group: null,
                mat_code: null,
                barcode: null,
                mat_des: null,
                uom: null,
                KWMENG: null,
                ERDAT: null,
                LABST:null,
            },
            perPage: ['10', '50', '100'],
            currentPage: '10',
            sortClassActive: {
                'activeDesc': false,
                'activeAsc': true
            },
            meta: {},
            page: {}, errors: {},
            currentSort: 'created_at',
            currentSortDir: 'desc',
            multiForm: {
                sBarcode: '',
                sMat_code: '',
                sMat_des: '',
                sUom: '',
                sLastFillDate: '',
                sLastFillQty: '',
                sStocksLeft: '',
                sSuggestQty: '',
                sApproveQty: '',
                sBoxNumber: '',
            },
            stocks: [],
            matGroup: [],
            matCode: [],
            matBarcode: [], multiBarcode: [], sales_unit: [],

            dateTime: '',

            company: [],

            trans_stocks: [], trans_header: [],
            drafts: {},
            headerCompany: '', headerReqDate: '',

            ReqAppQty: false, ReqBoxNo: false,

            arrRange:[], rangeBarcodeModal:false,rangeNumber:null,

            disApproveQty:true,
            print_release:null, print_delivery:null,
        }
    },
    watch: {
        'form.mat_group': function (newVal, oldVal) {
            if (newVal !== null) {
                this.getBarCode(newVal);
                // this.multiGetBarCode(newVal);
                // this.getMatCode(newVal);
            }
            if (newVal === null) {
                this.form.mat_code = '';
                this.form.barcode = '';
                this.matCode = [];
                // this.matBarcode = [];
                this.getAllBarCode();
            }
        },
        'form.barcode': function (newVal, oldVal) {
            this.getMatCode(newVal);
            if(newVal !== oldVal){
                this.form.mat_code = null;
                this.form.uom = null;
                this.sales_unit = [];
            }
            this.arrRange.push({
                'barcode': newVal,
            });
            let barcode = [];
            this.arrRange.forEach(obj => {
                barcode.push(obj.barcode = newVal);
            });
            console.log(barcode);
            // console.log(req_date,'test');
            this.arrRange.push({
                'barcode': barcode,
            });
        },
        'form.cust_company': function (newVal, oldVal) {
            this.getMatCode();
            this.trans_header[0].cust_company = newVal
        },
        'form.req_date': function (newVal, oldVal) {
            this.trans_header[0].req_date = newVal;
        },
        'stocks': function (newVal, oldVal) {
            newVal.map(value => {
                // console.log(value.approve_qty);
                if (value.approve_qty === null) { //if approve qty will be required
                    this.ReqAppQty = true;
                }
            });
        },
        'rangeNumber': function (newVal, oldVal) {
            let range = [];
            this.arrRange.forEach(obj => {
                range.push(obj.range = newVal);
            });
            // console.log(req_date,'test');
            this.arrRange.push({
                'range': range,
            });
        },
        deep: true
    },
    computed: {
        formatDate: function () {
            // var formatDate = new Date(this.form.req_date);
            // return formatDate;
            const moment = require('moment'); // require
            moment().format();
            const today = moment();
            this.dateTime = today.format('YYYY-MM-DD');
            this.form.req_date = this.dateTime;
            return this.dateTime;
        },
        currentUser() {
            return this.$store.getters.currentUser
        },
    },
    created() {

        Reload.$on('AfterCreated', () => {
        });
        this.getMatGroup();
        this.getBarCode();
        this.getCustCompany();
        this.getDraftsDetails();
        this.getDraftsHeader();
        this.checkedIfApprovers();
        this.getAllBarCode();
        this.showCurrentPrintingNo();
    },
    methods: {
        showCurrentPrintingNo(){
            axios.get('/api/for-printing-all?printID=' + this.$route.params.id)
                .then(response => {
                    this.print_release = response.data.RELEASE;
                    this.print_delivery = response.data.DELIVERY;
                    // console.log(response);
                    // if(response.data.DELIVERY === null && response.data.RELEASE === null){
                    //     this.print_release = '000001';
                    //     this.print_delivery = '000001';
                    // }else{
                    //
                    // }
                });
        },
        checkedIfApprovers(){
            axios.get('/api/check-user-view')
                .then(response => {
                    if(response.data.check === 1){
                        this.disApproveQty = false;
                    }
                    else if (response.data.check === 0){
                        this.disApproveQty = true;
                    }
                });
        },
        addItem: function () {
            console.log(this.stocks);
            var dup = '';
            var good = '';
            if(this.stocks.length !== 0){
                this.stocks.map(value => {
                    console.log(value.barcode);
                    if(value.barcode === this.form.barcode){
                        console.log('check12');
                        this.form.barcode = null;
                        this.form.mat_code = null;
                        this.form.uom = null;
                        dup = 0;

                    }
                    else if (value.barcode !== this.form.barcode){
                        console.log('good123');
                        good = 1; //good
                    }
                });
                if(good === 1 && dup !== 0){
                    var elem = document.createElement('tr');
                    this.stocks.push({
                        'req_date': this.form.req_date,
                        'cust_company': this.form.cust_company,
                        'mat_group': this.form.mat_group,
                        'mat_code': this.form.mat_code,
                        'mat_des': this.form.mat_des,
                        'sales_unit': this.form.uom,
                        'barcode': this.form.barcode,
                        'ERDAT': this.form.ERDAT,
                        'KWMENG': this.form.KWMENG,
                        'stocks_left': this.multiForm.sStocksLeft,
                        'order_qty': this.multiForm.sSuggestQty,
                        'approve_qty': this.multiForm.sApproveQty,
                        'stockDate': this.dateTime,
                        'box_no': this.multiForm.sBoxNumber,
                        'LABST':this.form.LABST,
                    });

                    this.form.barcode = null;
                    this.form.mat_code = null;
                    this.form.uom = null;
                }
                else if (dup === 0){
                    this.alertSwal('Duplicate Data Found','Please remove first to continue','warning','');
                }
            }
            else{
                var elem = document.createElement('tr');
                this.stocks.push({
                    'req_date': this.form.req_date,
                    'cust_company': this.form.cust_company,
                    'mat_group': this.form.mat_group,
                    'mat_code': this.form.mat_code,
                    'mat_des': this.form.mat_des,
                    'sales_unit': this.form.uom,
                    'barcode': this.form.barcode,
                    'ERDAT': this.form.ERDAT,
                    'KWMENG': this.form.KWMENG,
                    'stocks_left': this.multiForm.sStocksLeft,
                    'order_qty': this.multiForm.sSuggestQty,
                    'approve_qty': this.multiForm.sApproveQty,
                    'stockDate': this.dateTime,
                    'box_no': this.multiForm.sBoxNumber,
                    'LABST':this.form.LABST,
                });

                this.form.barcode = null;
                this.form.mat_code = null;
                this.form.uom = null;
            }


        },
        printReleaseForm(){
            this.trans_stocks.push({
                'stocks': this.stocks,
                'header': this.trans_header,
            });
            const today = new Date();
            const date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
            const time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
            const dateTime = date +' '+ time;
            let newFormat = moment(date,"YYYY/M/D").format('LL');

            // console.log(this.trans_stocks);
            var vm =  this;
            //Format
            // for orientation p h x w
            // for orientation l w x h
            var doc = new jsPDF('l','pt',[577, 396]); // or 215.9 by 139.7 mm
            // 10.795 width , 27.94 length
            // 13.97 x 20.3553
            let dataArr = [];

            $.each(this.trans_stocks[0].stocks, function (key, value) {
                dataArr.push([
                    value.approve_qty,
                    value.sales_unit,
                    value.barcode,
                    value.mat_des,
                    value.box_no,
                ]);
            });

            let yPlus = 5;
            doc.setFontSize(15);
            doc.text("VCY PVC Consignment", 215, 25);
            yPlus = yPlus - 5;
            doc.setFontSize(12);
            doc.text("Release Form", 255, yPlus + 45);
            doc.setFontSize(10);
            doc.text("Form Number:" +" "+ this.print_release, 10, yPlus + 70);
            doc.setFontSize(10);
            doc.text("Consignee:"+' '+this.trans_stocks[0].header[0].cust_company, 260, yPlus + 70);
            doc.setFontSize(10);
            doc.text("Date:"+' '+newFormat, 10, yPlus + 90);
            doc.setFontSize(10);
            doc.text("Release form by:"+' '+this.currentUser.name, 260, yPlus + 90);

            doc.autoTable({
                headerStyles: {
                    lineWidth: 1,
                    lineColor: [0, 0, 0]
                },
                pageBreak: 'auto',
                rowPageBreak: 'auto',
                startY: yPlus + 100,
                theme:'plain',
                cellWidth: 'wrap',
                margin:{right:10,left:10},
                columnStyles: {

                    // 3: {halign: 'right', margin: {right: 20}},
                    // 4: {halign: 'right', margin: {right: 20}},
                    // 5: {halign: 'right', margin: {right: 20}},
                    // 6: {halign: 'right', margin: {right: 20}},
                    // 7: {halign: 'right', margin: {right: 20}},

                    0: {fontSize: 8},
                    1: {fontSize: 8},
                    2: {fontSize: 8},
                    3: {fontSize: 8},
                    4: {fontSize: 8},

                },
                // margin: {top: 729},
                head: [
                    [{ content:'QTY', styles: { cellWidth: 'wrap' }}, { content:'UOM', styles: { cellWidth: 'wrap'  }},
                        { content:'BARCODE', styles: { cellWidth: 'wrap'  }},
                        { content:`MATERIAL DESCRIPTION`, styles: { cellWidth: 'wrap' }}, { content:'BOX NUMBER', styles: { cellWidth: 'wrap' }} ],
                ],
                body: dataArr,
            });
            if(dataArr.length >= 13){
                let finalYZCSH = doc.lastAutoTable.finalY;
                finalYZCSH = finalYZCSH + 5;

                doc.setFontSize(10);
                doc.text("________________________________", 80, finalYZCSH + 60);
                doc.text("Item Preparer", 135, finalYZCSH + 75);
                doc.text("________________________________", 320, finalYZCSH + 60);
                doc.text("Item Checker", 385, finalYZCSH + 75);
            }
            if(dataArr.length <= 12){
                let finalYZCSH = doc.lastAutoTable.finalY;
                finalYZCSH = finalYZCSH + 5;

                doc.setFontSize(10);
                doc.text("________________________________", 80, finalYZCSH + 15);
                doc.text("Item Preparer", 135, finalYZCSH + 30);
                doc.text("________________________________", 320, finalYZCSH + 15);
                doc.text("Item Checker", 385, finalYZCSH + 30);
            }


            //PAGE NUMBERING
            //Add Page Number at bottom-rigt
            //Get the number of Pages
            const pageCount = doc.internal.getNumberOfPages();
            // console.log(pageCount,'page');
            for(var i = 1; i <= pageCount; i++){
                //Go to page i
                doc.setPage(i);
                //Print Page 1 of 2 for Example
                doc.text('Page ' + String(i) + ' of ' + String(pageCount),540,375,null,null,"right");
            }

            // doc.autoPrint({variant:'non-conform'})
            window.open(doc.output('bloburl'), '_blank');
            Notification.printPreviewRelease();
        },
        printDeliveryForm(){
            this.trans_stocks.push({
                'stocks': this.stocks,
                'header': this.trans_header,
            });
            const today = new Date();
            const date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
            const time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
            const dateTime = date +' '+ time;
            let newFormat = moment(date,"YYYY/M/D").format('LL');

            // console.log(this.trans_stocks);
            var vm =  this;
            //Format
            // for orientation p h x w
            // for orientation l w x h

            var doc = new jsPDF('p','pt','letter');

            let dataArr = [];

            $.each(this.trans_stocks[0].stocks, function (key, value) {
                dataArr.push([
                    value.approve_qty,
                    value.sales_unit,
                    value.barcode,
                    value.mat_des,
                    value.box_no,
                ]);
            });
            //more than 28rows it should next the page
            let yPlus = 5;
            doc.setFontSize(15);
            doc.text("VCY PVC Consignment", 215, 25);
            yPlus = yPlus - 5;
            doc.setFontSize(12);
            doc.text("Delivery Receipt", 250, yPlus + 45);
            doc.setFontSize(10);
            doc.text("DR Number:" +" "+ this.print_delivery, 10, yPlus + 70);
            doc.setFontSize(10);
            doc.text("Consignee:"+' '+this.trans_stocks[0].header[0].cust_company, 260, yPlus + 70);
            doc.setFontSize(10);
            doc.text("Date:"+' '+newFormat, 10, yPlus + 90);
            // doc.setFontSize(10);
            // doc.text("Release form by:"+' '+this.currentUser.name, 260, yPlus + 105);

            doc.autoTable({
                headerStyles: {
                    lineWidth: 1,
                    lineColor: [0, 0, 0]
                },
                pageBreak: 'auto',
                rowPageBreak: 'auto',
                startY: yPlus + 100,
                theme:'plain',
                cellWidth: 'wrap',
                margin:{right:10,left:10},
                columnStyles: {

                    // 3: {halign: 'right', margin: {right: 20}},
                    // 4: {halign: 'right', margin: {right: 20}},
                    // 5: {halign: 'right', margin: {right: 20}},
                    // 6: {halign: 'right', margin: {right: 20}},
                    // 7: {halign: 'right', margin: {right: 20}},
                    0: {fontSize: 8},
                    1: {fontSize: 8},
                    2: {fontSize: 8},
                    3: {fontSize: 8},
                    4: {fontSize: 8},
                    5: {fontSize: 8},
                },
                // margin: {top: 729},
                head: [
                    [{ content:'QUANTITY', styles: { cellWidth: 'wrap' }}, { content:'UOM', styles: { cellWidth: 'wrap'  }},
                        { content:'BARCODE', styles: { cellWidth: 'wrap'  }},
                        { content:`MATERIAL DESCRIPTION`, styles: { cellWidth: 'wrap' }}, { content:'BOX NUMBER', styles: { cellWidth: 'wrap' }} ],
                ],
                body: dataArr,
            });
            // if(dataArr.length === 29){
            //     doc.addPage();
            //     doc.setFontSize(10);
            //
            //     // doc.text("Prepared by:", 10, finalYZCSH + 35);
            //     doc.text("Joaquin Pigar Jr", 45,   30);
            //     doc.text("__________________________", 10, 35);
            //     doc.text("Prepared by", 50,  50);
            //
            //     doc.text("RJ Abello/J Pigar", 270, 30);
            //     doc.text("__________________________", 235,  35);
            //     doc.text("Released by", 280,  50);
            //
            //     doc.text("__________________________", 455, 35);
            //     doc.text("Received by (Hablon)", 485,  50);
            //
            //     doc.text("Kara Katrina Caceres", 35, 95);
            //     doc.text("__________________________", 10,  100);
            //     doc.text("Approved by", 50, 115);
            //
            //     doc.text("__________________________", 235,  100);
            //     doc.text("Delivered by", 280,  115);
            //
            //     doc.text("__________________________", 455,  100);
            //     doc.text("Received by (Branch)", 485,  115);
            // }

            if(dataArr.length >= 29){
                // console.log('testpdf');

                let finalYZCSH = doc.lastAutoTable.finalY;
                finalYZCSH = finalYZCSH + 5; //683
                // console.log(finalYZCSH); //85.7 new page
                if(finalYZCSH > 683){
                    doc.addPage();
                    // console.log('greaterthan');
                    doc.setFontSize(10);
                    doc.text("Joaquin Pigar Jr", 45, finalYZCSH - 653);
                    doc.text("__________________________", 10, finalYZCSH - 648);
                    doc.text("Prepared by", 50, finalYZCSH - 633);

                    doc.text("RJ Abello/J Pigar", 270, finalYZCSH - 653);
                    doc.text("__________________________", 235, finalYZCSH - 648);
                    doc.text("Released by", 280, finalYZCSH - 633);

                    doc.text("__________________________", 455, finalYZCSH - 648);
                    doc.text("Received by (Hablon)", 485, finalYZCSH - 633);

                    doc.text("Kara Katrina Caceres", 35, finalYZCSH  - 588);
                    doc.text("__________________________", 10, finalYZCSH - 583);
                    doc.text("Approved by", 50, finalYZCSH - 568);

                    doc.text("__________________________", 235, finalYZCSH - 583);
                    doc.text("Delivered by", 280, finalYZCSH - 568);

                    doc.text("__________________________", 455, finalYZCSH - 583);
                    doc.text("Received by (Branch)", 485, finalYZCSH - 568);
                }
                else if(finalYZCSH < 683){
                    if(dataArr.length <= 63 && finalYZCSH < 680){
                        // console.log('lessthan');
                        doc.setFontSize(10);
                        doc.text("Joaquin Pigar Jr", 45, finalYZCSH + 30);
                        doc.text("__________________________", 10, finalYZCSH + 35);
                        doc.text("Prepared by", 50, finalYZCSH + 50);

                        doc.text("RJ Abello/J Pigar", 270, finalYZCSH + 30);
                        doc.text("__________________________", 235, finalYZCSH + 35);
                        doc.text("Released by", 280, finalYZCSH + 50);

                        doc.text("__________________________", 455, finalYZCSH + 35);
                        doc.text("Received by (Hablon)", 485, finalYZCSH + 50);

                        doc.text("Kara Katrina Caceres", 35, finalYZCSH + 95);
                        doc.text("__________________________", 10, finalYZCSH + 100);
                        doc.text("Approved by", 50, finalYZCSH + 115);

                        doc.text("__________________________", 235, finalYZCSH + 100);
                        doc.text("Delivered by", 280, finalYZCSH + 115);

                        doc.text("__________________________", 455, finalYZCSH + 100);
                        doc.text("Received by (Branch)", 485, finalYZCSH + 115);
                    }
                    else if (dataArr.length >= 64 && finalYZCSH > 680){
                        doc.addPage();
                        // console.log('greaterthan');
                        doc.setFontSize(10);
                        doc.text("Joaquin Pigar Jr", 45, finalYZCSH - 653);
                        doc.text("__________________________", 10, finalYZCSH - 648);
                        doc.text("Prepared by", 50, finalYZCSH - 633);

                        doc.text("RJ Abello/J Pigar", 270, finalYZCSH - 653);
                        doc.text("__________________________", 235, finalYZCSH - 648);
                        doc.text("Released by", 280, finalYZCSH - 633);

                        doc.text("__________________________", 455, finalYZCSH - 648);
                        doc.text("Received by (Hablon)", 485, finalYZCSH - 633);

                        doc.text("Kara Katrina Caceres", 35, finalYZCSH  - 588);
                        doc.text("__________________________", 10, finalYZCSH - 583);
                        doc.text("Approved by", 50, finalYZCSH - 568);

                        doc.text("__________________________", 235, finalYZCSH - 583);
                        doc.text("Delivered by", 280, finalYZCSH - 568);

                        doc.text("__________________________", 455, finalYZCSH - 583);
                        doc.text("Received by (Branch)", 485, finalYZCSH - 568);
                    }
                    else if (dataArr.length >= 64 && finalYZCSH < 680){
                        // console.log('lessthan');
                        doc.setFontSize(10);
                        doc.text("Joaquin Pigar Jr", 45, finalYZCSH + 30);
                        doc.text("__________________________", 10, finalYZCSH + 35);
                        doc.text("Prepared by", 50, finalYZCSH + 50);

                        doc.text("RJ Abello/J Pigar", 270, finalYZCSH + 30);
                        doc.text("__________________________", 235, finalYZCSH + 35);
                        doc.text("Released by", 280, finalYZCSH + 50);

                        doc.text("__________________________", 455, finalYZCSH + 35);
                        doc.text("Received by (Hablon)", 485, finalYZCSH + 50);

                        doc.text("Kara Katrina Caceres", 35, finalYZCSH + 95);
                        doc.text("__________________________", 10, finalYZCSH + 100);
                        doc.text("Approved by", 50, finalYZCSH + 115);

                        doc.text("__________________________", 235, finalYZCSH + 100);
                        doc.text("Delivered by", 280, finalYZCSH + 115);

                        doc.text("__________________________", 455, finalYZCSH + 100);
                        doc.text("Received by (Branch)", 485, finalYZCSH + 115);
                    }
                }


            }
            if(dataArr.length <= 28){
                // console.log('testpdf123');
                let finalYZCSH = doc.lastAutoTable.finalY;
                finalYZCSH = finalYZCSH + 5;

                doc.setFontSize(10);

                // doc.text("Prepared by:", 10, finalYZCSH + 35);
                doc.text("Joaquin Pigar Jr", 45, finalYZCSH + 30);
                doc.text("__________________________", 10, finalYZCSH + 35);
                doc.text("Prepared by", 50, finalYZCSH + 50);

                doc.text("RJ Abello/J Pigar", 270, finalYZCSH + 30);
                doc.text("__________________________", 235, finalYZCSH + 35);
                doc.text("Released by", 280, finalYZCSH + 50);

                doc.text("__________________________", 455, finalYZCSH + 35);
                doc.text("Received by (Hablon)", 485, finalYZCSH + 50);

                doc.text("Kara Katrina Caceres", 35, finalYZCSH + 95);
                doc.text("__________________________", 10, finalYZCSH + 100);
                doc.text("Approved by", 50, finalYZCSH + 115);

                doc.text("__________________________", 235, finalYZCSH + 100);
                doc.text("Delivered by", 280, finalYZCSH + 115);

                doc.text("__________________________", 455, finalYZCSH + 100);
                doc.text("Received by (Branch)", 485, finalYZCSH + 115);
                // // doc.text("Approved by:", 320, finalYZCSH + 35);
                // doc.text("__________________________", 390, finalYZCSH + 35);
                // doc.text("Kara Katrina Caceres", 415, finalYZCSH + 50);
                //
                // // doc.text("Released by:", 10, finalYZCSH + 80);
                // doc.text("__________________________", 75, finalYZCSH + 80);
                // doc.text("RJ Abello/J Pigar", 110, finalYZCSH + 95);
                //
                // // doc.text("Delivered by:", 320, finalYZCSH + 80);
                // doc.text("__________________________", 390, finalYZCSH + 80);
                // doc.text("Name and Siganture", 415, finalYZCSH + 95);
                //
                // // doc.text("Received by:", 10, finalYZCSH + 125);
                // doc.text("__________________________", 75, finalYZCSH + 125);
                // doc.text("Name and Siganture (Hablon)", 82, finalYZCSH + 140);
                //
                // // doc.text("Received by:", 320, finalYZCSH + 125);
                // doc.text("__________________________", 390, finalYZCSH + 125);
                // doc.text("Name and Siganture (Branch)", 396, finalYZCSH + 140);
            }
            //PAGE NUMBERING
            //Add Page Number at bottom-rigt
            //Get the number of Pages
            const pageCount = doc.internal.getNumberOfPages();
            // console.log(pageCount,'page');
            for(var i = 1; i <= pageCount; i++){
                //Go to page i
                doc.setPage(i);
                //Print Page 1 of 2 for Example
                doc.text('Page ' + String(i) + ' of ' + String(pageCount),570,762,null,null,"right");
            }
            window.open(doc.output('bloburl'), '_blank');
            Notification.printPreviewDelivery();
        },
        async approveRequest() {
            await Swal.fire({
                title: `Are you sure you want to approve Stock Request <br>No. ${this.$route.params.id}?`,
                text: "You won't be able to revert this!",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Approve it!'
            }).then((result) => {
                if (result.value) {
                    this.trans_stocks.push({
                        'stocks': this.stocks,
                        'header': this.trans_header,
                    })
                    axios.post(`/api/approve/${this.$route.params.id}/request`, this.trans_stocks)
                        .then(response => {
                            // console.log(response.data);
                            // this.alertSwal(`Stock Request ${this.$route.params.id} has been Approved`, '', 'success', '3000')
                        });
                    this.$swal({
                        icon: 'success',
                        title: 'Approved!',
                        text: `Stock Request ${this.$route.params.id} has been approved.`,
                        showConfirmButton: false,
                        timer: 3000
                    });
                    this.$router.push({
                        name: 'approval-table',
                        query: {allRequest: 'DataTable', id: this.currentUser.token}
                    });
                }
            })

        },
        async rejectRequest() {
            await Swal.fire({
                title: `Are you sure you want to reject Stock Request <br>No. ${this.$route.params.id}?`,
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Reject it!'
            }).then((result) => {
                if (result.value) {
                    this.trans_stocks.push({
                        'stocks': this.stocks,
                        'header': this.trans_header,
                    })
                    axios.post(`/api/rejected/${this.$route.params.id}/request`, this.trans_stocks)
                        .then(response => {
                        });
                    this.$swal({
                        icon: 'success',
                        title: 'Rejected!',
                        text: `Stock Request ${this.$route.params.id} has been rejected.`,
                        showConfirmButton: false,
                        timer: 3000
                    });
                    this.$router.push({
                        name: 'approval-table',
                        query: {allRequest: 'DataTable', id: this.currentUser.token}
                    });
                }
            })

        },
        getDraftsDetails(page) {
            if (typeof page === 'undefined') {
                this.page = 1;
            }
            let uri = `/api/approvals/${this.$route.params.id}/approval-details-for-printing?page=` + page
                + `&search=` + this.search
                + `&sortby=` + this.currentSort
                + `&sortdir=` + this.currentSortDir
                + `&currentpage=` + this.currentPage;
            this.uri = uri;
            this.page = page;
            axios.get(uri)
                .then(response => {
                    console.log(response.data.data);
                    this.stocks = response.data.data;
                });
        },
        getDraftsHeader(page) {
            if (typeof page === 'undefined') {
                this.page = 1;
            }
            let uri = `/api/approvals/header/${this.$route.params.id}?page=` + page
                + `&search=` + this.search
                + `&sortby=` + this.currentSort
                + `&sortdir=` + this.currentSortDir
                + `&currentpage=` + this.currentPage;
            this.uri = uri;
            this.page = page;
            axios.get(uri)
                .then(response => {
                    this.form.req_date = response.data[0].stock_req_date;
                    this.form.cust_company = response.data[0].company;
                    this.trans_header.push({
                        'req_date': this.form.req_date,
                        'cust_company': this.form.cust_company,
                    });
                });
        },
        async stockReqCreate() {
            if (this.stocks.length !== 0) {
                // console.log(this.stocks);
                this.trans_stocks.push({
                    'stocks': this.stocks,
                    'header': this.trans_header,
                });
                await axios.patch(`/api/divert/${this.$route.params.id}/divert-to-stocks`, this.trans_stocks)
                    .then((response) => {
                        this.$router.push({
                            name: 'stock-request-table',
                            query: {stockRequest: 'DataTable', id: this.currentUser.token}
                        });
                        Reload.$emit('AfterCreated');
                        Notification.success();
                    })
                    .catch((error) => {
                        this.alertSwal(error, '', 'warning', '');
                    });
            } else {
                this.alertSwal('Cannot save empty transactions', '', 'warning', '');
            }
        },
        async stockReqAsDraft() {
            if (this.stocks.length !== 0) {
                // console.log(this.stocks);
                this.trans_stocks.push({
                    'stocks': this.stocks,
                    'header': this.trans_header,
                })
                await axios.patch(`/api/drafts-update/${this.$route.params.id}`, this.trans_stocks)
                    .then((response) => {
                        Reload.$emit('AfterCreated');
                        Notification.success();
                    })
                    .catch((error) => {
                        this.alertSwal(error, '', 'warning', '');
                    });
            } else {
                this.alertSwal('Cannot save empty transactions', '', 'warning', '');
            }
        },
        rangeMatCode() {
            alert('Under Construction');
        },
        closeModal(e){
            this.rangeBarcodeModal = e;
        },
        rangeBarcode() {
            if(this.form.barcode === null || this.form.cust_company === null){
                if(this.form.barcode === null){
                    this.alertSwal('No Barcode Found!','Please select a barcode to continue','error');
                }
                else if(this.form.cust_company === null){
                    this.alertSwal('No Company Found!','Please select a company to continue','error');
                }
            }
            else{
                this.rangeBarcodeModal = !this.rangeBarcodeModal;
            }
        },
        dataRangeBarcode(num,close){
            this.rangeNumber = num;
            this.rangeBarcodeModal = close;
            this.getRangeBarcode();
        },
        getRangeBarcode(){
            this.arrRange.push({
                'range':this.rangeNumber,
                'barcode':this.form.barcode,
            });
            axios.post('/api/range-barcode-approval', this.arrRange)
                .then(response => {
                    // console.log(response.data,'testrange');
                    if(this.stocks.length !== 0){
                        var dup = '';
                        var good = '';
                        this.stocks.map(value => {
                            response.data.map(result =>{
                                // console.log(value.barcode,'value');
                                // console.log(result.barcode,'result');
                                if(value.barcode === result.barcode){

                                    this.form.barcode = null;
                                    this.form.mat_code = null;
                                    this.form.uom = null;
                                    dup = 0;
                                    // console.log('sulodkadi123');
                                }
                                else if (value.barcode !== result.barcode){
                                    //good
                                    // console.log('goodiesulod');
                                    good = 1;


                                }
                            });
                        });
                        if(good === 1 && dup !== 0){
                            // console.log('range success');
                            this.stocks = response.data;
                            this.alertSwal('Range Data Success','','success','');
                        }
                        else if (dup === 0) {
                            // console.log('range duplicate');
                            this.alertSwal('Duplicate Data Found','Please remove first to continue','warning','');
                        }
                    }
                    else{
                        this.stocks = response.data;

                    }

                });
        },
        removeElement: function (index) {
            this.stocks.splice(index, 1);
        },
        getCustCompany() {
            axios.get('/api/get-customer/stock-creation')
                .then(response => {
                    this.company = response.data;
                });
        },
        multiGetBarCode(newVal) {
            if (newVal !== null) {
                let formData = new FormData();
                formData.append('MatGroup', newVal);
                axios.post('/api/get-mat-barcode', formData)
                    .then(response => {
                        this.multiBarcode = response.data;
                    });
            } else {
                this.multiBarcode = [];
            }
        },
        getBarCode(newVal) {
            if (newVal !== null) {
                let formData = new FormData();
                formData.append('MatGroup', newVal);
                axios.post('/api/get-mat-barcode', formData)
                    .then(response => {
                        this.matBarcode = response.data;
                    });
            } else {
                this.matBarcode = [];
            }
        },
        getAllBarCode() { // get all barcode if mat group is null
            axios.get('/api/get-all-barcode')
                .then(response => {
                    this.matBarcode = response.data;
                });
        },
        getMatCode(newVal) {
            if(this.form.barcode !== null && this.form.cust_company !== null){
                axios.get('/api/get-mat-code?barcode=' + this.form.barcode + '&custCompany=' + this.form.cust_company)
                    .then(response => {
                        this.form.mat_code = response.data.MATNR;
                        this.form.mat_des = response.data.MAKTX;
                        this.form.uom = response.data.MEINH;
                        this.form.ERDAT = response.data.ERDAT; // last fill up date
                        this.form.KWMENG = response.data.KWMENG; // last fill up date
                        this.form.LABST = response.data.LABST;
                    });
            }else{

            }
        },
        fuseSearch(options, search) {
            const fuse = new Fuse(options, {
                keys: ["WGBEZ"],
                shouldSort: true
            });
            return search.length
                ? fuse.search(search).map(({item}) => item)
                : fuse.list;
        },
        fuseSearchMatCode(options, search) {
            const fuse = new Fuse(options, {
                keys: ["MATNR", "MAKTX"],
                shouldSort: true
            });
            return search.length
                ? fuse.search(search).map(({item}) => item)
                : fuse.list;
        },
        fuseSearchCompany(options, search) {
            const fuse = new Fuse(options, {
                keys: ["NAME1"],
                shouldSort: true
            });
            return search.length
                ? fuse.search(search).map(({item}) => item)
                : fuse.list;
        },
        fuseSearchBarcode(options, search) {
            const fuse = new Fuse(options, {
                keys: ["EAN11", "MAKTX", "MATNR"],
                shouldSort: true
            });
            return search.length
                ? fuse.search(search).map(({item}) => item)
                : fuse.list;
        },
        getMatGroup() {
            axios.get('/api/get-mat-group')
                .then(response => {
                    this.matGroup = response.data;
                });
        },
        alertSwal(title, text, icon, timer) {
            this.$swal({
                title: title,
                text: text,
                icon: icon,
                timer: timer,
            })
        },
        formatNumber(number) {
            return (number === '') ? '' : parseFloat(Math.abs(number)).toFixed(0).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
        },
    },


}
</script>


<style scoped>
@media (min-width: 992px) {
    .modal-dialog {
        max-width: 30% !important;
    }

}

@media (min-width: 992px) {
    .modal_custom {
        max-width: 50% !important;
    }
}

.input-group-text {
    background-color: #007bff;
    color: white;
}

.sampleClass {
    background-color: rgba(0, 0, 0, 0.5) !important;
    /*opacity: 0.5 !important;*/
}

.example-open .modal-backdrop.show:nth-of-type(even) {
    opacity: 5 !important;
    z-index: 1052 !important;
}

.filter-asc {
    border-bottom: 5px solid #ccc;
    margin-bottom: 1px
}

.filter-asc, .filter-desc {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent
}

.filter-desc {
    border-top: 5px solid #ccc;
    margin-top: 1px
}

.inline-block {
    display: inline-block
}

[data-position='below'] .autocomplete-result-list {
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    color: forestgreen;
    font-weight: bold;
}

.wiki-result {
    border-top: 1px solid #eee;
    padding: 16px;
    background: transparent;
}

.wiki-title {
    font-size: 15px;
    margin-bottom: 8px;
    font-weight: 550;
    color: forestgreen;
}

.wiki-snippet {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
}

.wrapAll {
    white-space: nowrap;
    overflow: hidden;
}

th:nth-child(1), td:nth-child(1) {
    position: sticky;
    left: 0px;
    background: white;
}
</style>
<style>
.matGroupHeight .vs__dropdown-toggle {
    height: 38px;
}
</style>
