<template>

    <div>
        <div class="row">

            <div class="col-lg-12 mb-4">

                <div class="card">
                    <div class="card-header">
                        <h4 class="m-0 font-weight-bold text-primary">List of Post Sales Order with errors</h4>
                    </div>



                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col-md-1">
                                <label>Per Page</label>
                                <select class="form-control" v-model="currentPage" @change="selectPageNumber(currentPage)">
                                    <option v-for="perPage in perPage" :value="perPage" :selected="currentPage===perPage">{{ perPage
                                        }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-8">

                            </div>

                            <div class="col-md-3">
                                <div class="input-group" style="margin-top: 30px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field" id="basic-addon1">Search</span>
                                    </div>

                                    <input class="form-control" v-model="search" placeholder="Search Here" @keyup="index"
                                           @click="isSearch = true">
                                </div>

                            </div>

                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush table-bordered">
                                <thead class="thead-light">
                                <tr>
                                    <th style="background-color: #007bff; color:white;">#</th>
                                    <th style="background-color: #007bff; color:white;">Stock Request Number</th>
                                    <th style="background-color: #007bff; color:white;">SAP ERROS</th>
                                    <th style="background-color: #007bff; color:white; text-align: center">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(sale, index) in sales.data" :key="sale.id">
                                    <td> {{ index + 1 }}</td>
                                    <td> {{ sale.sales_order_number }}</td>
                                    <td>
                                        <table class="table table-sm">
                                            <thead>
                                            <tr>
                                                <th style="background-color: #dc3545; color:white;">TRANSACTION</th>
                                                <th style="background-color: #dc3545; color:white;">REFERENCE_ID</th>
                                                <th style="background-color: #dc3545; color:white;">LINE</th>
                                                <th style="background-color: #dc3545; color:white;">DATE</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="(detail,index_details) in sale.details" :key="detail.id" :index="index_details">
                                                <td>{{detail.transaction}}</td>
                                                <td>{{detail.ref_id}}</td>
                                                <td>{{detail.lineError}}</td>
                                                <td>{{detail.dateError}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
<!--                                    <td> {{ sale.sap_message || 'Pending' }}</td>-->
                                    <td style="text-align: center;vertical-align: middle;"> <button class="btn btn-sm btn-success" v-promise-btn @click.prevent="manualExport(sale.sales_order_number)">Export Manually</button></td>
                                </tr>

                                <tr v-if="sales.data && sales.data.length === 0">
                                    <td colspan="4">No Data</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card-footer">
                        <pagination :data="sales" @pagination-change-page="index" :limit="10">
                            <span slot="prev-nav">&lt; Previous</span>
                            <span slot="next-nav">Next &gt;</span>
                        </pagination>
                    </div>
                </div>


            </div>

        </div>
    </div>
</template>


<script>
export default {
    name: "manualExportSO",
    data() {
        return {
            sales: {},
            meta: {},
            currentSort: 'sales_order_number',
            currentSortDir: 'desc',
            search: null,
            isSearch: false,
            perPage: ['10', '50', '100'],
            currentPage: '10',
            page: {},
            sortClassActive: {
                'activeDesc': false,
                'activeAsc': true
            },
        }
    },
    methods: {
        index(page) {
            if (typeof page === 'undefined') {
                this.page = 1;
            }
            let uri = '/api/showPostSO?page=' + page + '&search=' + this.search
                + '&sortby=' + this.currentSort + '&sortdir=' + this.currentSortDir
                + '&currentpage=' + this.currentPage;
            this.uri = uri;
            this.page = page;
            axios.get(uri)
                .then(response => {
                    this.sales = response.data;
                    this.meta.total = response.data.total;
                    this.meta.from = response.data.from;
                    this.meta.to = response.data.to;
                });
        },
        selectPageNumber(selected) {
            this.currentPage = selected;
            this.index();
        },
        async manualExport(sale) {
            let uri = '/api/manualExport?saleNo=' + sale;
           await axios.get(uri)
                .then(response => {
                    this.$swal({
                        icon: 'success',
                        title: 'Sales order manual export  was successful!',
                        showConfirmButton: false,
                        timer: 3000,
                        onClose: () => {
                            this.index();
                        }
                    });
                });
        },
    },
    computed: {


    },
    mounted(){
        this.index();
    },
}



</script>


<style type="text/css" scoped>

</style>
