<template>
    <div>
        <div class="row">
            <!-- Alerts Basic -->
            <div class="col-lg-12">
                <div class="card shadow-sm mb-4">
                    <div class="card-header">
                        <h4 class="m-0 font-weight-bold text-primary">SALES ORDER DATA</h4>
                    </div>
                    <div class="card-header">
                        <div class="row form-group">
                            <div class="col-md-5">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field"
                                              id="basic-addon1">Company:</span>
                                    </div>
                                    <v-select :filter="fuseSearchCompany"
                                              :options="allCompanyUser"
                                              :getOptionLabel="option => option.NAME1"
                                              :reduce="allCompanyUser => `${allCompanyUser.NAME1}`"
                                              v-model="stockCompany" @change="getStockHeader"
                                              style="width: 390px;" :class="{matGroupHeight:true}"
                                              :clearable="true"
                                              required>
                                        <template #option="{ NAME1 }">
                                            <strong>{{ NAME1 }} </strong>
                                        </template>
                                        <template #search="{attributes, events}">
                                            <input
                                                class="vs__search"
                                                :required="!stockCompany"
                                                v-bind="attributes"
                                                v-on="events"
                                                name="barcode"
                                            />
                                        </template>
                                    </v-select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field"
                                              id="basic-addon1">Requestor:</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder=""
                                           v-model="stockCreator" @keyup="getStockHeader" @click="isSearch = true"
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field"
                                              id="basic-addon1">Status:</span>
                                    </div>
                                    <v-select :searchable="false"
                                              :options="statusOptions"
                                              :getOptionLabel="option => option.name"
                                              :reduce="statusOptions => `${statusOptions.name}`"
                                              v-model="stockStatus" @change.native="getStockHeader"
                                              style="width: 220px;" :class="{matGroupHeight:true}"
                                              :clearable="true"
                                              required>
                                        <template v-slot:option="option">
                                            <div v-html="option.name" style="padding: 2px 0;"></div>
                                        </template>
                                        <template v-slot:selected-option="option">
                                            <div v-html="option.name" style="padding: 2px 0;"></div>
                                        </template>
                                    </v-select>
                                </div>
                            </div>
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field"
                                              id="basic-addon1">Date:</span>
                                    </div>
                                    <date-picker :class="[{customHeightDate:true}]"
                                                 placeholder="Select date range" :formatter="momentFormat"
                                                 value-type="format"
                                                 type="date" v-model="dateFromAndTo" range>

                                    </date-picker>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field"
                                              id="basic-addon1">Approver:</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder=""
                                           v-model="approveByDefault" disabled @click="isSearch = true"
                                    >
                                </div>
                            </div>
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-4">

                            </div>
                        </div>
                    </div>

                    <div class="input-group row-md-12 mb-4">
                        <br>
                        <div class="col-md-1">
                            <label style="margin-left: 9px;margin-top: 3px;">Per Page</label>
                            <select class="form-control" v-model="currentPage"
                                    style="margin: 11px 6px 0px 6px;top: 20px;position: absolute;"
                                    @change="selectPageNumber(currentPage)">
                                <option v-for="perPage in perPage" :value="perPage"
                                        :selected="currentPage===perPage">{{
                                    perPage
                                    }}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2">

                        </div>


                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table align-items-center table-bordered table-flush table-hover"
                                   id="dataTable"
                                   width="100%"
                                   cellspacing="0">
                                <thead>
                                <tr class="bg-primary">
                                    <th class="wrapAll" style="color: white;text-align: center">SALES ORDER DATE</th>
                                    <th class="wrapAll" style="color: white;text-align: center">SALES ORDER NUMBER</th>
                                    <th class="wrapAll" style="color: white;text-align: center">STOCK REQUEST NUMBER
                                    </th>
                                    <th class="wrapAll" style="color: white;text-align: center">COMPANY</th>
                                    <th class="wrapAll" style="color: white;text-align: center">STATUS</th>
                                    <th class="wrapAll" style="color: white;text-align: center">REQUESTED BY</th>
                                    <th class="wrapAll" style="color: white;text-align: center">APPROVED BY</th>
                                    <th class="wrapAll" style="color: white;text-align: center">ACTIONS</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(stock, index) in stockData.data" :key="stock.stock_req_no" :index="index">

                                    <td class="wrapAll" style="text-align: center">{{ stock.sales_order_date |
                                        moment("MM/DD/YYYY") }}
                                    </td>
                                    <td class="wrapAll" style="text-align: center">{{ stock.sales_order_number }}</td>
                                    <td class="wrapAll" style="text-align: center">{{ stock.stock_req_no }}</td>
                                    <td class="wrapAll" style="text-align: center">{{ stock.company }}</td>
                                    <td class="wrapAll" style="text-align: center"> {{ stock.status }}</td>
                                    <td class="wrapAll" style="text-align: center"> {{ stock.request_by }}</td>
                                    <td class="wrapAll" style="text-align: center"> {{ stock.approved_by }}</td>
                                    <td style="text-align: center">
                                        <router-link class="btn btn-info btn-sm" style="width: 140px"
                                                     :to="`/sales-order/view-details/ready-to-post-to-sap/sales_order_no/${stock.stock_req_no}`">
                                            View Details &nbsp<i class="fas fa-file-alt"></i>
                                        </router-link>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="float-left">Showing {{ meta.from || 0 }} to {{ meta.to || 0 }} of {{
                                meta.total ||
                                0
                                }} entries</p>
                            <pagination class="float-right" :data="stockData"
                                        @pagination-change-page="getStockHeader" :limit="5"/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Alerts with Dismissing -->
        </div>
        <!-- <td>{{ market.type | upText}}</td> -->

    </div>


</template>


<script>
//TODO IMPORTS
import '@trevoreyre/autocomplete-vue/dist/style.css'
import moment from 'moment';
import Fuse from 'fuse.js';
import {jsPDF} from "jspdf";
import 'jspdf-autotable';
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';

export default {
    name: "salesOrderData",
    components: {DatePicker},
    data() {
        return {
            form: {
                req_date: '',
                cust_company: null,
                mat_group: null,
                mat_code: null,
                barcode: null,
                mat_des: null,
                uom: null,
                KWMENG: null,
                ERDAT: null,
            },
            perPage: ['10', '50', '100'],
            isSearch: false,
            currentPage: '10',
            sortClassActive: {
                'activeDesc': false,
                'activeAsc': true
            },
            meta: {},
            page: {},
            errors: {},
            currentSort: 'stock_req_no',
            currentSortDir: 'desc',
            multiForm: {
                sBarcode: '',
                sMat_code: '',
                sMat_des: '',
                sUom: '',
                sLastFillDate: '',
                sLastFillQty: '',
                sStocksLeft: '',
                sSuggestQty: '',
                sApproveQty: '',
            },
            stocks: [],
            matGroup: [],
            matCode: [],
            matBarcode: [],
            multiBarcode: [],
            sales_unit: [],

            dateTime: '',

            company: [],

            trans_stocks: [],

            stockData: {},
            companyUser: '',
            allCompanyUser: [],
            stockCompany: '',
            stockStatus: '',
            dateFromAndTo: [],
            stockReqNumber: '',
            stockStatusFormat: '',
            creatorUser: null,
            allCreatorUser: [],
            stockCreator: '',
            momentFormat: {
                // Date to String
                stringify: (date) => {
                    return date ? moment(date).format("DD/MM/YYYY") : "";
                },
                // String to Date
                parse: (value) => {
                    return value ? moment(value, "DD/MM/YYYY").toDate() : null;
                },
            },
            statusOptions:
                [
                    {
                        name: `<span style="padding: 4px; background: #28a745; border-radius: 0.25rem; color: white;">POSTED</span>`
                    },
                    {
                        name: `<span style="padding: 4px; background: #6f42c1; border-radius: 0.25rem; color: white;">PENDING</span>`
                    },
                ],
            approveByDefault: 'Kara Katrina Caceres',
            requestor: '',
        }
    },
    watch: {
        'form.mat_group': function (newVal, oldVal) {
            if (newVal !== null) {
                this.getBarCode(newVal);
                this.multiGetBarCode(newVal);
                // this.getMatCode(newVal);
            }
            if (newVal === null) {
                this.form.mat_code = '';
                this.form.barcode = '';
                this.matCode = [];
                this.matBarcode = [];
            }
        },
        'form.barcode': function (newVal, oldVal) {
            this.getMatCode(newVal);
        },
        'stocks': function (newVal, oldVal) {
            console.log(newVal);
        },
        'dateFromAndTo': function (newVal, oldVal) {
            this.getStockHeader();
        },
        'stockCompany': function (newVal, oldVal) {
            this.getStockHeader();
        },
        'stockStatus': function (newVal, oldVal) {
            if (newVal === `<span style="padding: 4px; background: #28a745; border-radius: 0.25rem; color: white;">POSTED</span>`) {
                let htmlSplitRej = newVal.split(`<span style="padding: 4px; background: #28a745; border-radius: 0.25rem; color: white;">`);
                let htmlSplitRejOne = htmlSplitRej[1].split("</span>");
                let posted = htmlSplitRejOne[0];
                // console.log(posted);
                this.stockStatusFormat = posted;
                this.getStockHeader();

            }
            if (newVal === `<span style="padding: 4px; background: #6f42c1; border-radius: 0.25rem; color: white;">PENDING</span>`) {
                let htmlSplitApp = newVal.split(`<span style="padding: 4px; background: #6f42c1; border-radius: 0.25rem; color: white;">`);
                let htmlSplitAppOne = htmlSplitApp[1].split("</span>");
                let pending = htmlSplitAppOne[0];
                // console.log(pending);
                this.stockStatusFormat = pending;
                this.getStockHeader();
            }
            if (newVal === null) {
                this.stockStatusFormat = null;
                this.getStockHeader();
            }
        },
        'stockCreator': function (newVal, oldVal) {
            this.getStockHeader();
        },
        deep: true
    },
    computed: {
        formatDate: function () {
            // var formatDate = new Date(this.form.req_date);
            // return formatDate;
            const moment = require('moment'); // require
            moment().format();
            const today = moment();
            this.dateTime = today.format('YYYY-MM-DD');
            this.form.req_date = this.dateTime;
            return this.dateTime;
        },
        currentUser() {
            return this.$store.getters.currentUser
        },
    },
    created() {

        Reload.$on('AfterCreated', () => {
            this.getStockHeader();
        });
        this.getMatGroup();
        this.getBarCode();
        this.getCustCompany();

        this.getStockHeader();
        // this.getCompanyByUser();
        this.getCreator();
        this.getAllCompanyByApprover();
        this.getAllCreatorByApprover();
    },
    methods: {
        getStockHeader(page) {
            if (typeof page === 'undefined') {
                this.page = 1;
            }
            let uri = '/api/get-stock-request/sales-data?page=' + page
                + '&search=' + this.search
                + '&sortby=' + this.currentSort
                + '&sortdir=' + this.currentSortDir
                + '&currentpage=' + this.currentPage
                + '&stockReqNumber=' + this.stockReqNumber
                + '&company=' + this.stockCompany
                + '&userCompany=' + this.companyUser
                + '&status=' + this.stockStatusFormat //The final value of status
                + '&creator=' + this.stockCreator
                + '&dateFromAndTo=' + this.dateFromAndTo
                + '&approver=' + this.approveByDefault;
            this.uri = uri;
            this.page = page;
            axios.get(uri)
                .then(response => {
                    this.stockData = response.data;
                    this.meta.total = response.data.meta.total;
                    this.meta.from = response.data.meta.from;
                    this.meta.to = response.data.meta.to;
                });
        },
        selectPageNumber(selected) {
            this.currentPage = selected;
            this.getStockHeader();
        },
        getAllCreatorByApprover() {
            axios.get('/api/all-creator-user')
                .then(response => {
                    this.allCreatorUser = response.data;
                });
        },
        getAllCompanyByApprover() {
            axios.get('/api/all-company-user')
                .then(response => {
                    this.allCompanyUser = response.data;
                });
        },
        getCreator() {
            axios.get('/api/creator-user')
                .then(response => {
                    this.creatorUser = response.data.creator;
                });
        },

        addItem: function () {
            var elem = document.createElement('tr');
            this.stocks.push({
                'req_date': this.form.req_date,
                'cust_company': this.form.cust_company,
                'mat_group': this.form.mat_group,
                'mat_code': this.form.mat_code,
                'mat_des': this.form.mat_des,
                'uom': this.form.uom,
                'barcode': this.form.barcode,
                'last_fill_date': this.form.ERDAT,
                'last_fill_qty': this.form.KWMENG,
                'stocks_left': this.multiForm.sStocksLeft,
                'suggest_qty': this.multiForm.sSuggestQty,
                'approve_qty': this.multiForm.sApproveQty,
            });

            this.form.barcode = null;
            this.form.mat_code = null;
            this.form.uom = null;
        },
        async stockReqCreate() {
            if (this.stocks.length !== 0) {
                console.log(this.stocks);
                this.trans_stocks.push({
                    'stocks': this.stocks,
                })
                await axios.post('/api/stocks', this.trans_stocks)
                    .then((response) => {
                        Reload.$emit('AfterCreated');
                        Notification.success();
                    })
                    .catch((error) => {
                        this.alertSwal(error, '', 'warning', '');
                    });
            } else {
                this.alertSwal('Cannot save empty transactions', '', 'warning', '');
            }
        },
        stockReqAsDraft() {
            alert('Under Construction');
        },
        rangeMatCode() {
            alert('Under Construction');
        },
        rangeBarcode() {
            alert('Under Construction');
        },
        removeElement: function (index) {
            this.stocks.splice(index, 1);
        },
        getCustCompany() {
            axios.get('/api/get-customer/stock-creation')
                .then(response => {
                    this.company = response.data;
                });
        },
        multiGetBarCode(newVal) {
            if (newVal !== null) {
                let formData = new FormData();
                formData.append('MatGroup', newVal);
                axios.post('/api/get-mat-barcode', formData)
                    .then(response => {
                        this.multiBarcode = response.data;
                    });
            } else {
                this.multiBarcode = [];
            }
        },
        getBarCode(newVal) {
            if (newVal !== null) {
                let formData = new FormData();
                formData.append('MatGroup', newVal);
                axios.post('/api/get-mat-barcode', formData)
                    .then(response => {
                        this.matBarcode = response.data;
                    });
            } else {
                this.matBarcode = [];
            }
        },
        getMatCode(newVal) {
            if (newVal !== null) {
                let formData = new FormData();
                formData.append('barcode', newVal);
                axios.post('/api/get-mat-code', formData)
                    .then(response => {
                        this.form.mat_code = response.data.MATNR;
                        this.form.mat_des = response.data.MAKTX;
                        this.sales_unit = response.data.MEINH;
                        this.form.ERDAT = response.data.ERDAT; // last fill up date
                        this.form.KWMENG = response.data.KWMENG; // last fill up date

                    });
            } else {
                this.form.mat_code = null;
            }
        },
        fuseSearch(options, search) {
            const fuse = new Fuse(options, {
                keys: ["WGBEZ"],
                shouldSort: true
            });
            return search.length
                ? fuse.search(search).map(({item}) => item)
                : fuse.list;
        },
        fuseSearchMatCode(options, search) {
            const fuse = new Fuse(options, {
                keys: ["MATNR", "MAKTX"],
                shouldSort: true
            });
            return search.length
                ? fuse.search(search).map(({item}) => item)
                : fuse.list;
        },
        fuseSearchCompany(options, search) {
            const fuse = new Fuse(options, {
                keys: ["NAME1"],
                shouldSort: true
            });
            return search.length
                ? fuse.search(search).map(({item}) => item)
                : fuse.list;
        },
        fuseSearchCreator(options, search) {
            const fuse = new Fuse(options, {
                keys: ["creator"],
                shouldSort: true
            });
            return search.length
                ? fuse.search(search).map(({item}) => item)
                : fuse.list;
        },
        getMatGroup() {
            axios.get('/api/get-mat-group')
                .then(response => {
                    this.matGroup = response.data;
                });
        },
        alertSwal(title, text, icon, timer) {
            this.$swal({
                title: title,
                text: text,
                icon: icon,
                timer: timer,
            })
        },
        formatNumber(number) {
            return (number === '') ? '' : parseFloat(Math.abs(number)).toFixed(0).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
        },
    },


}
</script>


<style scoped>
@media (min-width: 992px) {
    .modal-dialog {
        max-width: 30% !important;
    }

}

@media (min-width: 992px) {
    .modal_custom {
        max-width: 50% !important;
    }
}

.mx-input {
    height: 38px;
}

.input-group-text {
    background-color: #007bff;
    color: white;
}

.sampleClass {
    background-color: rgba(0, 0, 0, 0.5) !important;
    /*opacity: 0.5 !important;*/
}

.example-open .modal-backdrop.show:nth-of-type(even) {
    opacity: 5 !important;
    z-index: 1052 !important;
}

.filter-asc {
    border-bottom: 5px solid #ccc;
    margin-bottom: 1px
}

.filter-asc, .filter-desc {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent
}

.filter-desc {
    border-top: 5px solid #ccc;
    margin-top: 1px
}

.inline-block {
    display: inline-block
}

[data-position='below'] .autocomplete-result-list {
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    color: forestgreen;
    font-weight: bold;
}

.wiki-result {
    border-top: 1px solid #eee;
    padding: 16px;
    background: transparent;
}

.wiki-title {
    font-size: 15px;
    margin-bottom: 8px;
    font-weight: 550;
    color: forestgreen;
}

.wiki-snippet {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
}

.wrapAll {
    white-space: nowrap;
    overflow: hidden;
}
</style>
<style>
.matGroupHeight .vs__dropdown-toggle {
    height: 38px;
}
</style>
<style>
.customHeightDate .mx-input {
    height: 38px;
}
</style>
