<template>
    <div>
        <div class="row">
            <!-- Alerts Basic -->
            <div class="col-lg-12">
                <div class="card shadow-sm mb-4">
                    <ValidationObserver ref="form" v-slot="{ handleSubmit }">
                        <form v-promise-btn="{action: 'submit'}" v-on:submit.prevent="handleSubmit(postSalesOrder)">

                            <div class="card-header">
                                <h4 class="m-0 font-weight-bold text-primary">SALES ORDER VIEW DETAILS</h4>
                            </div>
                            <div class="card-header">

                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text input-group-field"
                                                  id="basic-addon1">Company:</span>
                                            </div>
                                            <input class="form-control" type="text" v-model="headerCompany" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-1">

                                    </div>
                                    <div class="col-md-3">
                                        <ValidationProvider name="PO Number" rules="required" v-slot="{ errors }">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                 <span class="input-group-text input-group-field"
                                              id="basic-addon1">PO Number:</span>
                                                </div>
                                                <input type="number" class="form-control" name="PO Number"
                                                       placeholder="PO Number" :disabled="poNumberField"
                                                       v-model="poForm.poNumber" :class="{'is-invalid':errors[0]}">
                                            </div>
                                            <span class="text-danger">{{ errors[0] }}</span>
                                        </ValidationProvider>
                                    </div>

                                </div>
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field"
                                              id="basic-addon1">Status:</span>
                                            </div>
                                            <span
                                                style="padding: 4px; background: #6f42c1; border-radius: 0.25rem; color: white;margin-left: 2px;"
                                                v-if="stockStatus === 'PENDING'">
                                        {{stockStatus}}
                                    </span>
                                            <span
                                                style="padding: 4px; background: #28a745; border-radius: 0.25rem; color: white;margin-left: 2px;"
                                                v-if="stockStatus === 'POSTED'">
                                        {{stockStatus}}
                                    </span>
                                        </div>
                                    </div>
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-3">
                                        <ValidationProvider name="PO Date" rules="required" v-slot="{ errors }">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text input-group-field"
                                                  id="basic-addon1">PO Date:</span>
                                            </div>
<!--                                            <input class="form-control" type="date" v-model="poDate">-->
                                                <input type="date" class="form-control" :disabled="poDateField"
                                                       name="name" placeholder="Permission name"
                                                       v-model="poForm.poDate" :class="{'is-invalid':errors[0]}">

                                        </div>
                                            <span class="text-danger">{{ errors[0] }}</span>
                                        </ValidationProvider>
                                    </div>
                                    <div class="col-md-3">

                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field"
                                              id="basic-addon1">Required delivery date:</span>
                                            </div>

                                            <input class="form-control" type="date" :disabled="headerReqDateField"
                                                   v-model="headerReqDate">
                                        </div>
                                    </div>
                                    <div class="col-md-1">

                                    </div>
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text input-group-field"
                                                  id="basic-addon1">Net Value:</span>
                                            </div>
                                            <input class="form-control" type="text" v-model.number="netVal"
                                                   style="text-align: right;" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-3">

                                    </div>

                                </div>
                            </div>

<!--                            <div class="input-group row-md-12 mb-4">-->
<!--                                <br>-->
<!--                                <div class="col-md-1">-->
<!--                                    <label style="margin-left: 9px;margin-top: 3px;">Per Page</label>-->
<!--                                    <select class="form-control" v-model="currentPage"-->
<!--                                            style="margin: 11px 6px 0px 6px;top: 20px;position: absolute;"-->
<!--                                            @change="selectPageNumber(currentPage)">-->
<!--                                        <option v-for="perPage in perPage" :value="perPage"-->
<!--                                                :selected="currentPage===perPage">{{-->
<!--                                            perPage-->
<!--                                            }}-->
<!--                                        </option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                                <div class="col-md-2">-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table align-items-center table-bordered table-flush table-hover"
                                           id="dataTable"
                                           width="100%"
                                           cellspacing="0">
                                        <thead>
                                        <tr class="bg-primary">
                                            <th class="wrapAll" style="color: white;text-align: center;">MATERIAL CODE
                                            </th>
                                            <th class="wrapAll" style="color: white;text-align: center;">MATERIAL
                                                DESCRIPTION
                                            </th>
                                            <th class="wrapAll" style="color: white;text-align: center;">APPROVED QTY
                                            </th>
                                            <th class="wrapAll" style="color: white;text-align: right;">COST</th>
                                            <th class="wrapAll" style="color: white;text-align: right;">TOTAL COST</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(stock, index) in stockData.data" :key="stock.id" :index="index">

                                            <td class="wrapAll" style="text-align: center;">{{ stock.MATNR }}</td>
                                            <td class="wrapAll" style="text-align: center;">{{ stock.MAKTX }}</td>
                                            <td class="wrapAll" style="text-align: center;">{{ stock.approved_qty }}
                                            </td>
                                            <td class="wrapAll" style="text-align: right;">
                                                {{formatNumber(stock.VERPR)}}
                                            </td>
                                            <td class="wrapAll" style="text-align: right;">
                                                {{formatNumber(stock.total_cost)}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
<!--                                    <p class="float-left">Showing {{ meta.from || 0 }} to {{ meta.to || 0 }} of {{-->
<!--                                        meta.total || 0-->
<!--                                        }} entries-->
<!--                                    </p>-->
                                    <br>
                                    <router-link
                                        :to="{name: 'sales-order-table' , query: {approvedRequest: 'DataTable',id:currentUser.token}}"
                                        class="btn btn-danger">
                                        Back
                                    </router-link>
                                    <button class="btn btn-success" :disabled="postedButton"
                                            type="submit"
                                            v-if="$can('sales_order_post_to_sap')">
                                        Post
                                    </button>
<!--                                    <pagination class="float-right" :data="stockData"-->
<!--                                                @pagination-change-page="getStockHeader" :limit="5"/>-->
                                </div>
                            </div>
                        </form>
                    </ValidationObserver>
                </div>
            </div>
            <!-- Alerts with Dismissing -->
        </div>
        <!-- <td>{{ market.type | upText}}</td> -->

    </div>


</template>


<script>
//TODO IMPORTS
import '@trevoreyre/autocomplete-vue/dist/style.css'
import moment from 'moment';
import Fuse from 'fuse.js';
import {jsPDF} from "jspdf";
import 'jspdf-autotable';

export default {
    name: "salesOrderView",
    data() {
        return {
            form: {
                req_date: '',
                cust_company: null,
                mat_group: null,
                mat_code: null,
                barcode: null,
                mat_des: null,
                uom: null,
                KWMENG: null,
                ERDAT: null,
            },
            perPage: ['10', '50', '100'],
            currentPage: '10',
            sortClassActive: {
                'activeDesc': false,
                'activeAsc': true
            },
            meta: {},
            page: {}, errors: null,
            currentSort: 'stock_req_no',
            currentSortDir: 'desc',
            multiForm: {
                sBarcode: '',
                sMat_code: '',
                sMat_des: '',
                sUom: '',
                sLastFillDate: '',
                sLastFillQty: '',
                sStocksLeft: '',
                sSuggestQty: '',
                sApproveQty: '',
            },
            stocks: [],
            matGroup: [],
            matCode: [],
            matBarcode: [], multiBarcode: [], sales_unit: [],

            dateTime: '',

            company: [],

            trans_stocks: [],
            trans_header: [],

            stockData: {},
            headerStockNo: '', headerReqDate: '', headerSalesOrderDate: '', headerCompany: '',
            statusOptions:
                [
                    {
                        name: `<span style="padding: 4px; background: #28a745; border-radius: 0.25rem; color: white;">POSTED</span>`
                    },
                    {
                        name: `<span style="padding: 4px; background: #6f42c1; border-radius: 0.25rem; color: white;">PENDING</span>`
                    },
                ],
            stockStatus: '', netVal: 0, poDate: '', poNumber: '', reqPoDate: true, reqPoNumber: true, pohHeader:[], netValPost:0,
            poForm:{
                poDate: '', poNumber: '',
            },
            postedButton:false, requestBy:null,

            headerReqDateField:false, poDateField:false, poNumberField:false,
        }
    },
    watch: {
        'form.mat_group': function (newVal, oldVal) {
            if (newVal !== null) {
                this.getBarCode(newVal);
                this.multiGetBarCode(newVal);
                // this.getMatCode(newVal);
            }
            if (newVal === null) {
                this.form.mat_code = '';
                this.form.barcode = '';
                this.matCode = [];
                this.matBarcode = [];
            }
        },
        'form.barcode': function (newVal, oldVal) {
            this.getMatCode(newVal);
        },
        'stocks': function (newVal, oldVal) {
            console.log(newVal);
        },
        'stockData.data': function (newVal, oldVal) {
            let addCost = 0;
            newVal.forEach(function (value, index) {
                addCost += value.total_cost;
            });
            // console.log(addCost,'total');
            this.netValPost = addCost;
            this.netVal = this.formatNumber(addCost);
        },
        'headerReqDate': function (newVal, oldVal) {
            let req_date = [];
            this.trans_header.forEach(obj => {
                // console.log(this.trans_header[0],'test123');
                // console.log(obj.req_date,'test222');
                // console.log(req_date,'test555');
                req_date.push(obj.req_date = newVal);
            });
            // console.log(req_date,'test');
            this.trans_header.push({
                'req_date': req_date,
            });
        },
        'poDate': function (newVal, oldVal) {
            console.log(newVal, 'test');
        },
        deep: true
    },
    computed: {
        currentUser() {
            return this.$store.getters.currentUser
        },
    },
    created() {
        Reload.$on('AfterCreated', () => {
        });
        this.getMatGroup();
        this.getBarCode();
        this.getCustCompany();
        this.getStockHeader();
        this.getViewHeader();
        this.formatDate();
        this.postOnlyOnce();
    },
    mounted(){
        this.postOnlyOnce();
    },
    methods: {
        postOnlyOnce(){
            axios.get(`/api/${this.$route.params.id}/error-post`)
                .then((response) => {
                    console.log(response.data.error);
                    if(response.data.error === 'Not Found'){
                        this.postedButton = false;
                    }
                    else if(response.data.error === 'Found'){
                        this.postedButton = true;
                    }
                });
        },
        async postSalesOrder() {
            this.pohHeader.push({
               'po_number':this.poNumber,
               'po_date':this.poDate,
            });
            var format = this.string_to_amount(this.netVal);
            this.trans_stocks.push({
                'sales_order': this.stockData,
                'header': this.trans_header,
                // 'po_header': this.pohHeader,
                'po_number':this.poForm.poNumber,
                'po_date':this.poForm.poDate,
                'net_value':format,
            });

            console.log(this.trans_stocks);
            await axios.post(`/api/sales-data/${this.$route.params.id}/post-sap`, this.trans_stocks)
                .then((response) => {
                    if(response.data.error === 'Found'){
                        this.alertSwal('Duplicate Posting Found!', '', 'error', 3000);
                        this.$router.push({
                            name: 'sales-order-table',
                            query: {approvedRequest: 'DataTable', id: this.currentUser.token}
                        });
                    }
                    else{
                        Reload.$emit('AfterCreated');
                        Notification.success();
                        this.$router.push({
                            name: 'sales-order-table',
                            query: {approvedRequest: 'DataTable', id: this.currentUser.token}
                        });
                    }

                })
                .catch((error) => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                        console.log(this.errors);
                    } else {
                        this.alertSwal(error, '', 'warning', '');
                    }
                });
        },
        getStockHeader(page) {
            if (typeof page === 'undefined') {
                this.page = 1;
            }
            let uri = `/api/sales-data/${this.$route.params.id}/view?page=` + page
                + `&search=` + this.search
                + `&sortby=` + this.currentSort
                + `&sortdir=` + this.currentSortDir
                + `&currentpage=` + this.currentPage;
            this.uri = uri;
            this.page = page;
            axios.get(uri)
                .then(response => {
                    this.stockData = response.data;
                    // this.meta.total = response.data.meta.total;
                    // this.meta.from = response.data.meta.from;
                    // this.meta.to = response.data.meta.to;
                });
        },
        getViewHeader() {
            axios.get(`/api/sales-data/header/${this.$route.params.id}`)
                .then((response) => {
                    console.log(response.data[0]);

                    this.stockStatus = response.data[0].status;
                    this.headerStockNo = response.data[0].stock_req_no;
                    this.headerSalesOrderDate = response.data[0].sales_order_date;
                    this.headerCompany = response.data[0].company;
                    this.requestBy = response.data[0].request_by;
                    this.trans_header.push({
                        'company': this.headerCompany,
                        'stock_req_no': this.headerStockNo,
                        'req_date': this.headerReqDate,
                        'request_by' : this.requestBy,
                    });
                    if(this.stockStatus === 'PENDING'){
                        this.postedButton = false;
                        this.headerReqDateField = false;
                        this.poDateField = false;
                        this.poNumberField = false;
                    }
                    else if(this.stockStatus === 'POSTED'){
                        this.postedButton = true;
                        this.poForm.poNumber = response.data[0].po_number;
                        this.poForm.poDate = response.data[0].po_date;
                        this.headerReqDateField = true;
                        this.poDateField = true;
                        this.poNumberField = true;
                    }
                });
        },
        formatDate() {
            // var formatDate = new Date(this.form.req_date);
            // return formatDate;
            const moment = require('moment'); // require
            moment().format();
            const today = moment();
            this.headerReqDate = today.format('YYYY-MM-DD');
            // return this.headerReqDate;
        },
        selectPageNumber(selected) {
            this.currentPage = selected;
            this.getStockHeader();
        },
        addItem: function () {
            var elem = document.createElement('tr');
            this.stocks.push({
                'req_date': this.form.req_date,
                'cust_company': this.form.cust_company,
                'mat_group': this.form.mat_group,
                'mat_code': this.form.mat_code,
                'mat_des': this.form.mat_des,
                'uom': this.form.uom,
                'barcode': this.form.barcode,
                'last_fill_date': this.form.ERDAT,
                'last_fill_qty': this.form.KWMENG,
                'stocks_left': this.multiForm.sStocksLeft,
                'suggest_qty': this.multiForm.sSuggestQty,
                'approve_qty': this.multiForm.sApproveQty,
            });

            this.form.barcode = null;
            this.form.mat_code = null;
            this.form.uom = null;
        },
        async stockReqCreate() {
            if (this.stocks.length !== 0) {
                console.log(this.stocks);
                this.trans_stocks.push({
                    'stocks': this.stocks,
                })
                await axios.post('/api/stocks', this.trans_stocks)
                    .then((response) => {
                        Reload.$emit('AfterCreated');
                        Notification.success();
                    })
                    .catch((error) => {
                        this.alertSwal(error, '', 'warning', '');
                    });
            } else {
                this.alertSwal('Cannot save empty transactions', '', 'warning', '');
            }
        },
        stockReqAsDraft() {
            alert('Under Construction');
        },
        rangeMatCode() {
            alert('Under Construction');
        },
        rangeBarcode() {
            alert('Under Construction');
        },
        removeElement: function (index) {
            this.stocks.splice(index, 1);
        },
        getCustCompany() {
            axios.get('/api/get-customer/stock-creation')
                .then(response => {
                    this.company = response.data;
                });
        },
        multiGetBarCode(newVal) {
            if (newVal !== null) {
                let formData = new FormData();
                formData.append('MatGroup', newVal);
                axios.post('/api/get-mat-barcode', formData)
                    .then(response => {
                        this.multiBarcode = response.data;
                    });
            } else {
                this.multiBarcode = [];
            }
        },
        getBarCode(newVal) {
            if (newVal !== null) {
                let formData = new FormData();
                formData.append('MatGroup', newVal);
                axios.post('/api/get-mat-barcode', formData)
                    .then(response => {
                        this.matBarcode = response.data;
                    });
            } else {
                this.matBarcode = [];
            }
        },
        getMatCode(newVal) {
            if (newVal !== null) {
                let formData = new FormData();
                formData.append('barcode', newVal);
                axios.post('/api/get-mat-code', formData)
                    .then(response => {
                        this.form.mat_code = response.data.MATNR;
                        this.form.mat_des = response.data.MAKTX;
                        this.sales_unit = response.data.MEINH;
                        this.form.ERDAT = response.data.ERDAT; // last fill up date
                        this.form.KWMENG = response.data.KWMENG; // last fill up date

                    });
            } else {
                this.form.mat_code = null;
            }
        },
        fuseSearch(options, search) {
            const fuse = new Fuse(options, {
                keys: ["WGBEZ"],
                shouldSort: true
            });
            return search.length
                ? fuse.search(search).map(({item}) => item)
                : fuse.list;
        },
        fuseSearchMatCode(options, search) {
            const fuse = new Fuse(options, {
                keys: ["MATNR", "MAKTX"],
                shouldSort: true
            });
            return search.length
                ? fuse.search(search).map(({item}) => item)
                : fuse.list;
        },
        fuseSearchCompany(options, search) {
            const fuse = new Fuse(options, {
                keys: ["NAME1"],
                shouldSort: true
            });
            return search.length
                ? fuse.search(search).map(({item}) => item)
                : fuse.list;
        },
        fuseSearchBarcode(options, search) {
            const fuse = new Fuse(options, {
                keys: ["EAN11", "MAKTX", "MATNR"],
                shouldSort: true
            });
            return search.length
                ? fuse.search(search).map(({item}) => item)
                : fuse.list;
        },
        getMatGroup() {
            axios.get('/api/get-mat-group')
                .then(response => {
                    this.matGroup = response.data;
                });
        },
        alertSwal(title, text, icon, timer) {
            this.$swal({
                title: title,
                text: text,
                icon: icon,
                timer: timer,
            })
        },
        formatNumber(number) {
            return (number === '') ? '' : parseFloat(Math.abs(number)).toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
        },
        string_to_amount(string_amount) {
            return string_amount.toString().replace(/,/g, '') * 1;
        },
    },


}
</script>


<style scoped>
@media (min-width: 992px) {
    .modal-dialog {
        max-width: 30% !important;
    }

}

@media (min-width: 992px) {
    .modal_custom {
        max-width: 50% !important;
    }
}

.input-group-text {
    background-color: #007bff;
    color: white;
}

.sampleClass {
    background-color: rgba(0, 0, 0, 0.5) !important;
    /*opacity: 0.5 !important;*/
}

.example-open .modal-backdrop.show:nth-of-type(even) {
    opacity: 5 !important;
    z-index: 1052 !important;
}

.filter-asc {
    border-bottom: 5px solid #ccc;
    margin-bottom: 1px
}

.filter-asc, .filter-desc {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent
}

.filter-desc {
    border-top: 5px solid #ccc;
    margin-top: 1px
}

.inline-block {
    display: inline-block
}

[data-position='below'] .autocomplete-result-list {
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    color: forestgreen;
    font-weight: bold;
}

.wiki-result {
    border-top: 1px solid #eee;
    padding: 16px;
    background: transparent;
}

.wiki-title {
    font-size: 15px;
    margin-bottom: 8px;
    font-weight: 550;
    color: forestgreen;
}

.wiki-snippet {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
}

.wrapAll {
    white-space: nowrap;
    overflow: hidden;
}
</style>
<style>
.matGroupHeight .vs__dropdown-toggle {
    height: 38px;
}
</style>
