<template>
    <transition name="model">
        <div class="modal-mask modal-height-vue show">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="m-0 font-weight-bold text-primary">Range Barcode</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <!-- Form Basic -->
                                <div class="card mb-4">
                                    <input type="text" class="form-control" v-model="form.barcode" disabled>

                                </div>

                            </div>
                            <div class="col-lg-6">
                                <!-- Form Basic -->
                                <div class="card mb-4">
                                    <input type="number" class="form-control" v-model="rangeNumber">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @click="closeModal">Close</button>
                        <button type="button" class="btn btn-success" @click="submitModal">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>

export default {
    props:{
        form: {
            barcode: null,
        },
        rangeBarcodeModal:false,
    },
    name: "rangeBarcode",
    data(){
        return{
            searchCode:'',
            isSearch: false,
            products:null,
            rangeNumber:null,
        }
    },
    methods: {
        closeModal(){
            this.$parent.closeModal(false);
        },
        submitModal(){
            this.$parent.dataRangeBarcode(this.rangeNumber,false);
        },
    }
}
</script>

<style scoped>
@media (min-width: 992px) {
    .modal-dialog {
        max-width: 40% !important;
        right: -90px !important;
    }

}
.modal-height-vue{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0;
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.5);
}
.autocomplete_field{
    width: 100%;
}

.autocomplete-result {
    border-top: 1px solid #eee;
    padding: 16px;
    background: transparent;
}

.wiki-title {
    font-size: 20px;
    margin-bottom: 8px;
}

.wiki-snippet {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
}


</style>
