<template>
    <div>
        <div class="row">
            <!-- Alerts Basic -->
            <div class="col-lg-12">
                <div class="card shadow-sm mb-4">
                    <div class="card-header">
                        <h4 class="m-0 font-weight-bold text-primary">STOCK REQUEST VIEW DETAILS</h4>
                    </div>
                        <div class="card-header">
                            <div class="row form-group">
                                <div class="col-md-4" v-if="windowWidth === 1280 && windowWidth !== 962">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field"
                                              id="basic-addon1">Stock Request Number:</span>
                                        </div>

                                        <input style="text-align: right;" class="form-control" type="text"
                                               v-model="headerStockNo" disabled>
                                    </div>
                                </div>
                                <div class="col-md-5" v-if="windowWidth !== 1280 && windowWidth === 962">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field"
                                              id="basic-addon1">Stock Request Number:</span>
                                        </div>

                                        <input style="text-align: right;" class="form-control" type="text"
                                               v-model="headerStockNo" disabled>
                                    </div>
                                </div>
                                <div class="col-md-3" v-if="windowWidth !== 1280 && windowWidth !== 962">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field"
                                              id="basic-addon1">Stock Request Number:</span>
                                        </div>

                                        <input style="text-align: right;" class="form-control" type="text"
                                               v-model="headerStockNo" disabled>
                                    </div>
                                </div>
                                <div class="col-md-1" v-if="windowWidth !== 1280 && windowWidth !== 962">

                                </div>
                                <div class="col-md-4" v-if="windowWidth === 1280 && windowWidth !== 962">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field"
                                              id="basic-addon1">Sales Order Date:</span>
                                        </div>

                                        <input style="text-align: right;" class="form-control" type="text"
                                               v-model="headerSalesOrderDate" disabled>
                                    </div>
                                </div>

                                <div class="col-md-5" v-if="windowWidth !== 1280 && windowWidth === 962">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field"
                                              id="basic-addon1">Sales Order Date:</span>
                                        </div>

                                        <input style="text-align: right;" class="form-control" type="text"
                                               v-model="headerSalesOrderDate" disabled>
                                    </div>
                                </div>

                                <div class="col-md-3" v-if="windowWidth !== 1280 && windowWidth !== 962">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field"
                                              id="basic-addon1">Sales Order Date:</span>
                                        </div>

                                        <input style="text-align: right;" class="form-control" type="text"
                                               v-model="headerSalesOrderDate" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-4" v-if="windowWidth === 1280 && windowWidth !== 962">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field"
                                              id="basic-addon1">Request Date:</span>
                                        </div>

                                        <input style="text-align: right;" class="form-control" type="text"
                                               v-model="headerReqDate" disabled>
                                    </div>
                                </div>
                                <div class="col-md-5" v-if="windowWidth !== 1280 && windowWidth === 962">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field"
                                              id="basic-addon1">Request Date:</span>
                                        </div>

                                        <input style="text-align: right;" class="form-control" type="text"
                                               v-model="headerReqDate" disabled>
                                    </div>
                                </div>
                                <div class="col-md-3" v-if="windowWidth !== 1280 && windowWidth !== 962">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text input-group-field"
                                              id="basic-addon1">Request Date:</span>
                                        </div>

                                        <input style="text-align: right;" class="form-control" type="text"
                                               v-model="headerReqDate" disabled>
                                    </div>
                                </div>
                                <!--                                Material Code-->
                                <div class="col-md-1" v-if="windowWidth !== 1280 && windowWidth !== 962">

                                </div>
                                <div class="col-md-6" v-if="windowWidth === 1280 && windowWidth !== 962">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text input-group-field"
                                                  id="basic-addon1">Company:</span>
                                        </div>
                                        <input class="form-control" type="text" v-model="headerCompany" disabled>
                                    </div>
                                </div>
                                <div class="col-md-7" v-if="windowWidth !== 1280 && windowWidth === 962">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text input-group-field"
                                                  id="basic-addon1">Company:</span>
                                        </div>
                                        <input class="form-control" type="text" v-model="headerCompany" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4" v-if="windowWidth !== 1280 && windowWidth !== 962">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text input-group-field"
                                                  id="basic-addon1">Company:</span>
                                        </div>
                                        <input class="form-control" type="text" v-model="headerCompany" disabled>
                                    </div>
                                </div>
                                <div class="col-md-3">

                                </div>

                            </div>
                        </div>
                    <div class="input-group row-md-12 mb-4">
                        <br>
                        <div class="col-md-1">
                            <label style="margin-left: 9px;margin-top: 3px;">Per Page</label>
                            <select class="form-control" v-model="currentPage"
                                    style="margin: 11px 6px 0px 6px;top: 20px;position: absolute;"
                                    @change="selectPageNumber(currentPage)">
                                <option v-for="perPage in perPage" :value="perPage"
                                        :selected="currentPage===perPage">{{
                                        perPage
                                    }}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table align-items-center table-bordered table-flush table-hover"
                                   id="dataTable"
                                   width="100%"
                                   cellspacing="0">
                                <thead>
                                <tr class="bg-primary">
                                    <th class="wrapAll" style="color: white;">BARCODE</th>
                                    <th class="wrapAll" style="color: white;">MATERIAL CODE</th>
                                    <th class="wrapAll" style="color: white;">MATERIAL DESCRIPTION</th>
                                    <th class="wrapAll" style="color: white;">UOM</th>
                                    <th class="wrapAll" style="color: white;text-align: center;">LAST FILL-UP DATE</th>
                                    <th class="wrapAll" style="color: white;text-align: right;">LAST FILL-UP QTY</th>
                                    <th class="wrapAll" style="color: white;text-align: right;">STOCKS LEFT</th>
                                    <th class="wrapAll" style="color: white;text-align: right;">SUGGESTED ORDER QTY</th>
                                    <th class="wrapAll" style="color: white;text-align: right;">APPROVED QTY</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(stock, index) in stockData.data" :key="stock.id" :index="index">

                                    <td class="wrapAll">{{ stock.barcode }}</td>
                                    <td class="wrapAll">{{ stock.mat_code }}</td>
                                    <td class="wrapAll">{{ stock.mat_des }}</td>
                                    <td class="wrapAll"> {{ stock.sales_unit }}</td>
                                    <td class="wrapAll" style="text-align: center">{{
                                            stock.ERDAT | moment("MM/DD/YYYY")
                                        }}
                                    </td>
                                    <td class="wrapAll" style="text-align: right"> {{ formatNumber(stock.KWMENG) }}</td>
                                    <td class="wrapAll" style="text-align: right">{{
                                            formatNumber(stock.stocks_left)
                                        }}
                                    </td>
                                    <td class="wrapAll" style="text-align: right">{{
                                            formatNumber(stock.order_qty)
                                        }}
                                    </td>
                                    <td class="wrapAll" style="text-align: right">{{
                                            formatNumber(stock.approve_qty)
                                        }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="float-left">Showing {{ meta.from || 0 }} to {{ meta.to || 0 }} of {{
                                    meta.total || 0
                                }} entries</p>
                        </div>
                        <router-link :to="{name: 'stock-request-table' , query: {stockRequest: 'DataTable',id:currentUser.token}}" class="btn btn-danger"
                                     style="margin-top: -15px;">Back</router-link>
                        <pagination class="float-right" :data="stockData"
                                    @pagination-change-page="getStockHeader" :limit="5"/>
                    </div>
                </div>
            </div>
            <!-- Alerts with Dismissing -->
        </div>
        <!-- <td>{{ market.type | upText}}</td> -->

    </div>


</template>


<script>
//TODO IMPORTS
import '@trevoreyre/autocomplete-vue/dist/style.css'
import moment from 'moment';
import Fuse from 'fuse.js';
import {jsPDF} from "jspdf";
import 'jspdf-autotable';

export default {
    name: "stockRequestView",
    data() {
        return {
            form: {
                req_date: '',
                cust_company: null,
                mat_group: null,
                mat_code: null,
                barcode: null,
                mat_des: null,
                uom: null,
                KWMENG: null,
                ERDAT: null,
            },
            perPage: ['10', '50', '100'],
            currentPage: '10',
            sortClassActive: {
                'activeDesc': false,
                'activeAsc': true
            },
            meta: {},
            page: {}, errors: {},
            currentSort: 'stock_req_no',
            currentSortDir: 'desc',
            multiForm: {
                sBarcode: '',
                sMat_code: '',
                sMat_des: '',
                sUom: '',
                sLastFillDate: '',
                sLastFillQty: '',
                sStocksLeft: '',
                sSuggestQty: '',
                sApproveQty: '',
            },
            stocks: [],
            matGroup: [],
            matCode: [],
            matBarcode: [], multiBarcode: [], sales_unit: [],

            dateTime: '',

            company: [],

            trans_stocks: [],

            stockData: {},
            headerStockNo: '', headerReqDate: '', headerSalesOrderDate: '', headerCompany: '',
            windowWidth: window.innerWidth, resWidth:null, is1280:false,is1680:false,is1920:false,
        }
    },
    watch: {
        'form.mat_group': function (newVal, oldVal) {
            if (newVal !== null) {
                this.getBarCode(newVal);
                this.multiGetBarCode(newVal);
                // this.getMatCode(newVal);
            }
            if (newVal === null) {
                this.form.mat_code = '';
                this.form.barcode = '';
                this.matCode = [];
                this.matBarcode = [];
            }
        },
        'form.barcode': function (newVal, oldVal) {
            this.getMatCode(newVal);
        },
        'stocks': function (newVal, oldVal) {
            console.log(newVal);
        },
        windowWidth(newWidth, oldWidth) {
            this.resWidth = `it changed to ${newWidth} from ${oldWidth}`;
            this.checkWidthToAdjust(newWidth);
        },
        deep: true
    },
    mounted() {
        window.addEventListener('resize', () => {
            this.windowWidth = window.innerWidth
        })
    },
    computed: {
        formatDate: function () {
            // var formatDate = new Date(this.form.req_date);
            // return formatDate;
            const moment = require('moment'); // require
            moment().format();
            const today = moment();
            this.dateTime = today.format('YYYY-MM-DD');
            this.form.req_date = this.dateTime;
            return this.dateTime;
        },
        currentUser() {
            return this.$store.getters.currentUser
        },
    },
    created() {

        Reload.$on('AfterCreated', () => {
        });
        this.getMatGroup();
        this.getBarCode();
        this.getCustCompany();
        this.getStockHeader();
        this.getViewHeader();
        this.checkWidthToAdjust();
    },
    methods: {
        checkWidthToAdjust(newWidth){
            console.log(newWidth,this.windowWidth);
            if(newWidth === 1280 || this.windowWidth === 1280){
                this.is1280 = true;
                this.is1680 = false;
                this.is1920 = false;
            }
            else if(newWidth === 1680 || this.windowWidth === 1680){
                this.is1680 = true;
                this.is1920 = false;
                this.is1280 = false;
            }
            else if(newWidth === 1920 || this.windowWidth === 1920){
                this.is1920 = true;
                this.is1680 = false;
                this.is1280 = false;
            }
        },
        getStockHeader(page) {
            if (typeof page === 'undefined') {
                this.page = 1;
            }
            let uri = `/api/stock-data/${this.$route.params.id}/view?page=` + page
                + `&search=` + this.search
                + `&sortby=` + this.currentSort
                + `&sortdir=` + this.currentSortDir
                + `&currentpage=` + this.currentPage;
            this.uri = uri;
            this.page = page;
            axios.get(uri)
                .then(response => {
                    this.stockData = response.data;
                    this.meta.total = response.data.meta.total;
                    this.meta.from = response.data.meta.from;
                    this.meta.to = response.data.meta.to;
                });
        },
        getViewHeader(){
            axios.get(`/api/stock-data/header/${this.$route.params.id}`)
                .then((response) => {
                    console.log(response.data[0]);
                    this.headerStockNo = response.data[0].stock_req_no;
                    this.headerReqDate = response.data[0].stock_req_date;
                    this.headerSalesOrderDate = response.data[0].sales_order_date;
                    this.headerCompany = response.data[0].company;
                });
        },
        selectPageNumber(selected) {
            this.currentPage = selected;
            this.getStockHeader();
        },
        addItem: function () {
            var elem = document.createElement('tr');
            this.stocks.push({
                'req_date': this.form.req_date,
                'cust_company': this.form.cust_company,
                'mat_group': this.form.mat_group,
                'mat_code': this.form.mat_code,
                'mat_des': this.form.mat_des,
                'uom': this.form.uom,
                'barcode': this.form.barcode,
                'last_fill_date': this.form.ERDAT,
                'last_fill_qty': this.form.KWMENG,
                'stocks_left': this.multiForm.sStocksLeft,
                'suggest_qty': this.multiForm.sSuggestQty,
                'approve_qty': this.multiForm.sApproveQty,
            });

            this.form.barcode = null;
            this.form.mat_code = null;
            this.form.uom = null;
        },
        async stockReqCreate() {
            if (this.stocks.length !== 0) {
                console.log(this.stocks);
                this.trans_stocks.push({
                    'stocks': this.stocks,
                })
                await axios.post('/api/stocks', this.trans_stocks)
                    .then((response) => {
                        Reload.$emit('AfterCreated');
                        Notification.success();
                    })
                    .catch((error) => {
                        this.alertSwal(error, '', 'warning', '');
                    });
            } else {
                this.alertSwal('Cannot save empty transactions', '', 'warning', '');
            }
        },
        stockReqAsDraft() {
            alert('Under Construction');
        },
        rangeMatCode() {
            alert('Under Construction');
        },
        rangeBarcode() {
            alert('Under Construction');
        },
        removeElement: function (index) {
            this.stocks.splice(index, 1);
        },
        getCustCompany() {
            axios.get('/api/get-customer/stock-creation')
                .then(response => {
                    this.company = response.data;
                });
        },
        multiGetBarCode(newVal) {
            if (newVal !== null) {
                let formData = new FormData();
                formData.append('MatGroup', newVal);
                axios.post('/api/get-mat-barcode', formData)
                    .then(response => {
                        this.multiBarcode = response.data;
                    });
            } else {
                this.multiBarcode = [];
            }
        },
        getBarCode(newVal) {
            if (newVal !== null) {
                let formData = new FormData();
                formData.append('MatGroup', newVal);
                axios.post('/api/get-mat-barcode', formData)
                    .then(response => {
                        this.matBarcode = response.data;
                    });
            } else {
                this.matBarcode = [];
            }
        },
        getMatCode(newVal) {
            if (newVal !== null) {
                let formData = new FormData();
                formData.append('barcode', newVal);
                axios.post('/api/get-mat-code', formData)
                    .then(response => {
                        this.form.mat_code = response.data.MATNR;
                        this.form.mat_des = response.data.MAKTX;
                        this.sales_unit = response.data.MEINH;
                        this.form.ERDAT = response.data.ERDAT; // last fill up date
                        this.form.KWMENG = response.data.KWMENG; // last fill up date

                    });
            } else {
                this.form.mat_code = null;
            }
        },
        fuseSearch(options, search) {
            const fuse = new Fuse(options, {
                keys: ["WGBEZ"],
                shouldSort: true
            });
            return search.length
                ? fuse.search(search).map(({item}) => item)
                : fuse.list;
        },
        fuseSearchMatCode(options, search) {
            const fuse = new Fuse(options, {
                keys: ["MATNR", "MAKTX"],
                shouldSort: true
            });
            return search.length
                ? fuse.search(search).map(({item}) => item)
                : fuse.list;
        },
        fuseSearchCompany(options, search) {
            const fuse = new Fuse(options, {
                keys: ["NAME1"],
                shouldSort: true
            });
            return search.length
                ? fuse.search(search).map(({item}) => item)
                : fuse.list;
        },
        fuseSearchBarcode(options, search) {
            const fuse = new Fuse(options, {
                keys: ["EAN11", "MAKTX", "MATNR"],
                shouldSort: true
            });
            return search.length
                ? fuse.search(search).map(({item}) => item)
                : fuse.list;
        },
        getMatGroup() {
            axios.get('/api/get-mat-group')
                .then(response => {
                    this.matGroup = response.data;
                });
        },
        alertSwal(title, text, icon, timer) {
            this.$swal({
                title: title,
                text: text,
                icon: icon,
                timer: timer,
            })
        },
        formatNumber(number) {
            return (number === '') ? '' : parseFloat(Math.abs(number)).toFixed(0).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
        },
    },


}
</script>


<style scoped>
@media (min-width: 992px) {
    .modal-dialog {
        max-width: 30% !important;
    }

}

@media (min-width: 992px) {
    .modal_custom {
        max-width: 50% !important;
    }
}

.input-group-text {
    background-color: #007bff;
    color: white;
}

.sampleClass {
    background-color: rgba(0, 0, 0, 0.5) !important;
    /*opacity: 0.5 !important;*/
}

.example-open .modal-backdrop.show:nth-of-type(even) {
    opacity: 5 !important;
    z-index: 1052 !important;
}

.filter-asc {
    border-bottom: 5px solid #ccc;
    margin-bottom: 1px
}

.filter-asc, .filter-desc {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent
}

.filter-desc {
    border-top: 5px solid #ccc;
    margin-top: 1px
}

.inline-block {
    display: inline-block
}

[data-position='below'] .autocomplete-result-list {
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    color: forestgreen;
    font-weight: bold;
}

.wiki-result {
    border-top: 1px solid #eee;
    padding: 16px;
    background: transparent;
}

.wiki-title {
    font-size: 15px;
    margin-bottom: 8px;
    font-weight: 550;
    color: forestgreen;
}

.wiki-snippet {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
}

.wrapAll {
    white-space: nowrap;
    overflow: hidden;
}
</style>
<style>
.matGroupHeight .vs__dropdown-toggle {
    height: 38px;
}
</style>
